# 券商分點

這個券商分點可以繞過「圖片認證碼」請大家再三保密使用XD
不然哪天就失效了，

抓取券商分點，每檔股票總共可以分成三個步驟：
1. 開啟驗證碼網頁，得到驗證碼
2. 利用驗證碼來得到券商分點
3. 整理券商分點資訊

In [16]:
# ---------------
# 偽裝成瀏覽器
# ---------------
headers = {
    'User-Agent':'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:2.0.1) Gecko/2010010' \
    '1 Firefox/4.0.1',
    'Accept':'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
    'Accept-Language':'en-us,en;q=0.5',
    'Accept-Charset':'ISO-8859-1,utf-8;q=0.7,*;q=0.7'}

# 1. 開啟驗證碼網頁，得到驗證碼
這邊的驗證碼不是「圖片驗證碼喔！」而是 `viewstate` 跟 `eventvalidation`

In [17]:
# ---------------
# 開啟有驗證碼的網頁
# ---------------
import requests
rs = requests.session()

def get_verify_code(rs):
    res = rs.get( 'http://bsr.twse.com.tw/bshtm/bsMenu.aspx', stream = True, verify = False, headers = headers, timeout=None )
    # ---------------
    # 從網頁中抓取一些關鍵字
    # ---------------
    import re
    
    # get view state
    viewstate = re.search( 'VIEWSTATE"\s+value=.*=', res.text )
    viewstate = viewstate.group()[18:]
    
    # get eventvalidation
    eventvalidation = re.search( 'EVENTVALIDATION"\s+value=.*\w', res.text )
    eventvalidation = eventvalidation.group( )[ 24: ]
    
    return viewstate, eventvalidation

viewstate, eventvalidation = get_verify_code(rs)

print('----')
print('viewstate', viewstate)
print('----')
print('eventvalidation',eventvalidation)
print('----')

----
viewstate /wEPDwUJOTAxMjkxMjg3D2QWAgIDD2QWBAIBD2QWAmYPZBYEZg9kFgJmDxAPFgYeB0NoZWNrZWRnHglGb3JlQ29sb3IKAB4EXyFTQgIEZGRkZAIBD2QWAgIBDw8WBB8BCgAfAgIEZGQCAw9kFgQCAw8PFgIeBFRleHRlZGQCCQ8PFgIeB1Zpc2libGVoZGQYAgUeX19Db250cm9sc1JlcXVpcmVQb3N0QmFja0tleV9fFgMFElJhZGlvQnV0dG9uX05vcm1hbAUQUmFkaW9CdXR0b25fRXhjZAUQUmFkaW9CdXR0b25fRXhjZAUPQ2FwdGNoYUNvbnRyb2wxDwUkNWFjNjBkNWItMzEwZS00YTA2LTllZjctNzQ1N2RmNDljNDRiZFyDOXt+7qmHbxFnTHQga4c=
----
eventvalidation /wEdAAYVJoIH/PwOnoBjBywuedavfMmuxAJNAJcNkRRsVeJwwqKURZav/+YrVMqaWE2hvMxJwK4Ohf3nRgXHkFhQen1PRSciNdPYWmINCrip1wqw01PJCA0uL9aE2sjICZqv6GrATIeMqKFPPmuiG+D3hYSx
----

/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

# 2. 透過驗證碼爬取資料並存檔

In [18]:
# ---------------
# 爬取資料
# ---------------

def get_data(rs, stock_id, viewstate, eventvalidation):
    import time
    payload = {
    '__EVENTTARGET':'',
    '__EVENTARGUMENT':'',
    '__LASTFOCUS':'',
    '__VIEWSTATE' : viewstate,                      #encode_viewstate[:-1],
    '__EVENTVALIDATION' : eventvalidation,          #encode_eventvalidation[:-1],
    'RadioButton_Normal' : 'RadioButton_Normal',
    'TextBox_Stkno' : stock_id,
    'CaptchaControl1 ' : 'Z67YB',
    'btnOK' : '%E6%9F%A5%E8%A9%A2',
    }
    rs.post( "https://bsr.twse.com.tw/bshtm/bsMenu.aspx", data=payload, headers=headers, stream = True )
    time.sleep(1)
    res = rs.get( 'https://bsr.twse.com.tw/bshtm/bsContent.aspx',verify = False ,stream = True, )
    return res

res = get_data(rs, '1101', viewstate, eventvalidation)
res.encoding='big5'
open('test.html', 'w', encoding='utf-8').write(res.text)

/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

0

# 3. 整理資料

In [44]:
import pandas as pd
from io import StringIO

def parse_data(text):
    lines = text.split('\n')
    lines = [l for l in lines if len(l.split(',')) == 11]
    df = pd.read_csv(StringIO('\n'.join(lines)))

    first_df = df[df.columns[:5]]
    second_df = df[df.columns[6:]]
    second_df.columns = second_df.columns.str.replace('.1', '')
    final_df = first_df.append(second_df).set_index('序號').sort_index().dropna()
    return final_df

def data_to_sql(stock_id):
    res = get_data(rs, stock_id, viewstate, eventvalidation)
    res.encoding='big5'
    data = parse_data(res.text)
    
    buy = df['買進股數'].astype(int).groupby(df['券商']).sum()
    sell= df['賣出股數'].astype(int).groupby(df['券商']).sum()
    total = buy - sell
    
    # 買方top 15
    top_buy = total.nlargest(7)
    
    top_buy_buy = []
    top_buy_sell = []
    for i in top_buy.index:
        top_buy_buy.append(buy[i])
        top_buy_sell.append(sell[i])

    table = pd.DataFrame(top_buy, columns=['top_buy'])
    table_buy = table.assign(top_buy_buy = top_buy_buy, top_buy_sell = top_buy_sell)

    import sqlite3
    conn = sqlite3.connect('top_buy.db')
    table_buy.to_sql('buy_' + stock_id, conn, if_exists='replace')
    
    # 賣方 top 15
    top_sell = total.nsmallest(7)
    top_sell

    top_sell_buy = []
    top_sell_sell = []
    for i in top_sell.index:
        top_sell_buy.append(buy[i])
        top_sell_sell.append(sell[i])

    table = pd.DataFrame(top_sell, columns=['top_sell'])
    table_sell = table.assign(top_sell = top_sell, top_sell_buy = top_sell_buy, top_sell_sell = top_sell_sell)

    conn_sell = sqlite3.connect('top_sell.db')
    table_sell.to_sql('sell_' + stock_id, conn_sell, if_exists='replace')
    
    print(stock_id, ': add to sqlite successfully')

    return table_buy

# 按完這個執行, 下面是分段

In [45]:
# data_to_sql('1101')
stock_id = ['1101', '2330', '2317', '2498']
for i in stock_id:
    data_to_sql(i)

/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

1101 : add to sqlite successfully

/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

2330 : add to sqlite successfully

/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

2317 : add to sqlite successfully

/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

2498 : add to sqlite successfully

In [20]:
stock_id = '1101'
res = get_data(rs, stock_id, viewstate, eventvalidation)
res.encoding='big5'

data = parse_data(res.text)
data

/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/Users/zhongrenguang/opt/anaconda3/envs/finlab/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

            券商    價格   買進股數   賣出股數
序號
1     1020合　　庫  50.7   2000      0
2     1020合　　庫  51.0   3000      0
3     1020合　　庫  51.1   1100      0
4     1020合　　庫  51.2      0   2000
5     1020合　　庫  51.4      0   1000
6     1021合庫台中  50.9   2000      0
7     1021合庫台中  51.0   1000      0
8     1021合庫台中  51.1   4000      0
9     1021合庫台中  51.2  19000      0
10    1021合庫台中  51.3   1200      0
11    1022合庫台南  50.7   1000      0
12    1022合庫台南  50.9   1000      0
13    1022合庫台南  51.0      0   1000
14    1022合庫台南  51.1   2000      0
15    1022合庫台南  51.2   2000      0
16    1022合庫台南  51.3   1000   1000
17    1023合庫高雄  51.0      0   2000
18    1023合庫高雄  51.1      0   2000
19    1023合庫高雄  51.2   5000   1000
20    1023合庫高雄  51.3      0   1000
21    1023合庫高雄  51.4      0    198
22    1023合庫高雄  51.5   1000      0
23    1024合庫嘉義  51.2   4001   1000
24    1024合庫嘉義  51.3      1      0
25    1025合庫基隆  51.0      0     73
26    1025合庫基隆  51.1   2000      0
27    1025合庫基隆  51.2   1000      0
28    1025合庫基隆  51.3   2000      0
29    1028合庫彰化  50.7      0   5000
30    1028合庫彰化  51.1   1000   2000
...        ...   ...    ...    ...
2847  9A9s永豐彰化  51.2    200      0
2848  9A9s永豐彰化  51.3      0   1000
2849  9A9s永豐彰化  51.4    200      0
2850  9A9S永豐南京  51.1   1010      0
2851  9A9U永豐中正  50.7      0   1000
2852  9A9U永豐中正  51.0    310   1000
2853  9A9U永豐中正  51.1      0   3000
2854  9A9U永豐中正  51.2   1000   2000
2855  9A9U永豐中正  51.4      0    100
2856  9A9U永豐中正  51.7   3000   3000
2857  9A9W永豐市政  51.0    200      0
2858  9A9W永豐市政  51.1   2000      0
2859  9A9W永豐市政  51.2   1000      0
2860  9A9W永豐市政  51.3      0  10000
2861  9A9x永豐桃園  50.7   2000      0
2862  9A9x永豐桃園  50.9   1000      0
2863  9A9x永豐桃園  51.0   6000      0
2864  9A9x永豐桃園  51.1   2000      0
2865  9A9x永豐桃園  51.2    120   4300
2866  9A9x永豐桃園  51.3   3000      0
2867  9A9x永豐桃園  51.5      0   1000
2868  9A9X永豐竹科  50.7   2000      0
2869  9A9X永豐竹科  51.0   4082      0
2870  9A9X永豐竹科  51.1   4100      0
2871  9A9X永豐竹科  51.2   1583      0
2872  9A9X永豐竹科  51.3     10    350
2873  9A9X永豐竹科  51.4      0     31
2874  9A9Y永豐板盛  50.7      0   1000
2875  9A9Y永豐板盛  51.1      0   5000
2876  9A9Z永豐復興  51.1   2000      0

[2876 rows x 4 columns]

# 券商總買賣

In [21]:
buy = df['買進股數'].astype(int).groupby(df['券商']).sum()
sell= df['賣出股數'].astype(int).groupby(df['券商']).sum()
total = buy - sell
total

券商
1020合　　庫       3100
1021合庫台中      27200
1022合庫台南       5000
1023合庫高雄       -198
1024合庫嘉義       3002
1025合庫基隆       4927
1028合庫彰化      -5920
1029合庫鳳山       6000
102A合庫新竹        100
102C合庫自強     -12000
102E合庫桃園        900
102F合庫西台       1100
1030土　　銀       1000
1031土銀台中       6000
1032土銀台南       2000
1033土銀高雄       6000
1034土銀嘉義     -19000
1035土銀新竹      -2950
1036土銀玉里       6000
1037土銀花蓮      -2000
1038土銀和平      -2000
1039土銀士林       1000
103A土銀建國       2000
103B土銀彰化      20000
103C土銀白河      -1000
103F土銀南港       8000
1040臺    銀    49559
1041臺銀鳳山      23935
1042臺銀臺南      27203
1043臺銀民權       8000
              ...
9A9G永豐天母       3000
9A9H永豐新莊       2000
9A9J永豐板新       3140
9A9K永豐三重       3930
9A9L永豐台中       3000
9A9M永豐南投       3000
9A9N永豐桃盛      -5000
9A9P永豐竹北     -26980
9A9Q永豐豐原       3100
9A9R永豐信義      -5077
9A9S永豐南京       1010
9A9U永豐中正      -5790
9A9W永豐市政      -6800
9A9X永豐竹科      11394
9A9Y永豐板盛      -6000
9A9Z永豐復興       2000
9A9a永豐苓雅       5000
9A9b永豐虎尾          0
9A9c永豐永康     -10000
9A9d永豐古亭      12000
9A9e永豐高雄      -1755
9A9f永豐中盛     -26532
9A9g永豐內湖         90
9A9h永豐台南      -4514
9A9i永豐新店      -5000
9A9j永豐嘉義      20200
9A9q永豐潮州       4000
9A9r永豐北高       -900
9A9s永豐彰化       2400
9A9x永豐桃園       8820
Length: 779, dtype: int64

# 主力買賣超

In [22]:
# 買方top 15
top_buy = total.nlargest(15)
top_buy

券商
8440摩根大通      1220000
1480美商高盛      1144000
1520瑞士信貸       816000
1470台灣摩根       663000
1570港商法興       536000
9268凱基台北       507092
779u國票長城       202000
538D第一忠孝       165000
8560新    光     154283
8846玉山板橋       116630
116m日盛和美        98000
7007兆豐竹北        96000
9200凱基          94035
116F日盛員林        89877
9835元大中山        88067
dtype: int64

In [27]:
top_buy_buy = []
top_buy_sell = []
for i in top_buy.index:
    top_buy_buy.append(buy[i])
    top_buy_sell.append(sell[i])
    
table = pd.DataFrame(top_buy, columns=['top_buy'])
table_buy = table.assign(top_buy_buy = top_buy_buy, top_buy_sell = top_buy_sell)

import sqlite3
conn = sqlite3.connect('top_buy.db')
table_buy.to_sql('buy_' + stock_id, conn, if_exists='replace')
table_buy

            top_buy  top_buy_buy  top_buy_sell
券商
8440摩根大通    1220000      2288000       1068000
1480美商高盛    1144000      1458000        314000
1520瑞士信貸     816000      1103000        287000
1470台灣摩根     663000      2310000       1647000
1570港商法興     536000       638000        102000
9268凱基台北     507092      1297200        790108
779u國票長城     202000       202000             0
538D第一忠孝     165000       207000         42000
8560新    光   154283       216678         62395
8846玉山板橋     116630       121778          5148
116m日盛和美      98000       101000          3000
7007兆豐竹北      96000       100000          4000
9200凱基        94035       285035        191000
116F日盛員林      89877        91000          1123
9835元大中山      88067        90067          2000

In [28]:
# 賣方 top 15
top_sell = total.nsmallest(15)
top_sell

top_sell_buy = []
top_sell_sell = []
for i in top_sell.index:
    top_sell_buy.append(buy[i])
    top_sell_sell.append(sell[i])
    
table = pd.DataFrame(top_sell, columns=['top_sell'])
table_sell = table.assign(top_sell = top_sell, top_sell_buy = top_sell_buy, top_sell_sell = top_sell_sell)

conn_sell = sqlite3.connect('top_sell.db')
table_sell.to_sql('sell_' + stock_id, conn_sell, if_exists='replace')
table_sell

          top_sell  top_sell_buy  top_sell_sell
券商
1590花旗環球  -4226000        164000        4390000
1360港麥格理   -781100          6000         787100
8880國泰綜合   -550484          4050         554534
9800元大     -545209        140000         685209
9872元大復北   -480920          4330         485250
1650瑞銀     -370000        674000        1044000
1560港商野村   -226000          6000         232000
1380台灣匯立   -222000             0         222000
1440美林     -185710        288290         474000
9873元大西門   -117750          1250         119000
8900法銀巴黎   -108000        131000         239000
884J玉山大里   -103770          7230         111000
585B統一永和    -98000          2000         100000
779c國票敦北    -98000         17000         115000
8960上海匯豐    -97000         24000         121000

In [166]:
# 主力買賣超
total.nlargest(15).sum() + total.nsmallest(15).sum()

-559605

## 合併成 df

In [ ]:
'''
1. top buy 15  v
2. buy的15大券商分別買多少賣多少
3. top sell 15 v
4. sell的15大券商分別買多少賣多少
'''

# 買賣家數差

In [164]:
# 買賣家數差
(total > 0).sum() - (total < 0).sum()

45

# Pymongo 教學

In [64]:
from pymongo import MongoClient
import pymongo
import urllib.parse
from datetime import datetime
import json

In [65]:
client = pymongo.MongoClient("mongodb://renguangz:abc66994@cluster0-shard-00-00.lwtdb.mongodb.net:27017,cluster0-shard-00-01.lwtdb.mongodb.net:27017,cluster0-shard-00-02.lwtdb.mongodb.net:27017/price?ssl=true&replicaSet=atlas-vrlxcb-shard-0&authSource=admin&retryWrites=true&w=majority")
# client = MongoClient("mongodb+srv://renguangz:abc66994@cluster0.lwtdb.mongodb.net/gg123?retryWrites=true&w=majority")
# db = client.test

dbname = 'price'
db = client[dbname]

collection_name = 'price_2498'
col1 = db[collection_name]

In [63]:
with open('./flask-backend-mongodb/price_2498.json') as file:
    file_data = json.load(file)

# print(file_data)
    
# if isinstance(file_data, list):
# #     collection_name.insert_many(file_data)
#     print(list, file_data)
# else:
#     collection_name.insert_one(file_data)

col1.insert_many(file_data)
# file_data

In [68]:
# 查找資料
list(col1.find())

[{'_id': ObjectId('61442da9c55dba939f705779'),
  'close': 31.2,
  'date': '110/04/01',
  'high': 31.5,
  'index': 0,
  'low': 30.8,
  'ma10': None,
  'ma20': None,
  'ma5': None,
  'open': 31.25,
  'slowd': None,
  'slowj': None,
  'slowk': None,
  'volume': 17347.848,
  'volumeMa10': None,
  'volumeMa20': None,
  'volumeMa5': None,
  '成交筆數': 8659,
  '成交金額': 540310131,
  '漲跌價差': 0.35},
 {'_id': ObjectId('61442da9c55dba939f70577a'),
  'close': 30.95,
  'date': '110/04/06',
  'high': 31.65,
  'index': 1,
  'low': 30.9,
  'ma10': None,
  'ma20': None,
  'ma5': None,
  'open': 31.6,
  'slowd': None,
  'slowj': None,
  'slowk': None,
  'volume': 8467.673,
  'volumeMa10': None,
  'volumeMa20': None,
  'volumeMa5': None,
  '成交筆數': 4349,
  '成交金額': 263719864,
  '漲跌價差': -0.25},
 {'_id': ObjectId('61442da9c55dba939f70577b'),
  'close': 31.45,
  'date': '110/04/07',
  'high': 32.45,
  'index': 2,
  'low': 31.25,
  'ma10': None,
  'ma20': None,
  'ma5': None,
  'open': 31.25,
  'slowd': None,
  'slowj': None,
  'slowk': None,
  'volume': 17482.994,
  'volumeMa10': None,
  'volumeMa20': None,
  'volumeMa5': None,
  '成交筆數': 8025,
  '成交金額': 555649329,
  '漲跌價差': 0.5},
 {'_id': ObjectId('61442da9c55dba939f70577c'),
  'close': 31.45,
  'date': '110/04/08',
  'high': 31.8,
  'index': 3,
  'low': 31.2,
  'ma10': None,
  'ma20': None,
  'ma5': None,
  'open': 31.55,
  'slowd': None,
  'slowj': None,
  'slowk': None,
  'volume': 7353.037,
  'volumeMa10': None,
  'volumeMa20': None,
  'volumeMa5': None,
  '成交筆數': 3874,
  '成交金額': 231893495,
  '漲跌價差': 0},
 {'_id': ObjectId('61442da9c55dba939f70577d'),
  'close': 31.5,
  'date': '110/04/09',
  'high': 31.8,
  'index': 4,
  'low': 31.2,
  'ma10': None,
  'ma20': None,
  'ma5': 31.310000000000002,
  'open': 31.8,
  'slowd': None,
  'slowj': None,
  'slowk': None,
  'volume': 6534.412,
  'volumeMa10': None,
  'volumeMa20': None,
  'volumeMa5': 11437.192799999999,
  '成交筆數': 3196,
  '成交金額': 205640129,
  '漲跌價差': 0.05},
 {'_id': ObjectId('61442da9c55dba939f70577e'),
  'close': 32.8,
  'date': '110/04/12',
  'high': 33,
  'index': 5,
  'low': 31.5,
  'ma10': None,
  'ma20': None,
  'ma5': 31.630000000000006,
  'open': 31.65,
  'slowd': None,
  'slowj': None,
  'slowk': None,
  'volume': 17974.759,
  'volumeMa10': None,
  'volumeMa20': None,
  'volumeMa5': 11562.575,
  '成交筆數': 8297,
  '成交金額': 582321315,
  '漲跌價差': 1.3},
 {'_id': ObjectId('61442da9c55dba939f70577f'),
  'close': 33.1,
  'date': '110/04/13',
  'high': 33.9,
  'index': 6,
  'low': 32.9,
  'ma10': None,
  'ma20': None,
  'ma5': 32.06000000000001,
  'open': 33,
  'slowd': None,
  'slowj': None,
  'slowk': None,
  'volume': 19428.685,
  'volumeMa10': None,
  'volumeMa20': None,
  'volumeMa5': 13754.7774,
  '成交筆數': 8886,
  '成交金額': 648663414,
  '漲跌價差': 0.3},
 {'_id': ObjectId('61442da9c55dba939f705780'),
  'close': 32.65,
  'date': '110/04/14',
  'high': 33.75,
  'index': 7,
  'low': 32.15,
  'ma10': None,
  'ma20': None,
  'ma5': 32.30000000000001,
  'open': 33.45,
  'slowd': None,
  'slowj': None,
  'slowk': None,
  'volume': 17321.091,
  'volumeMa10': None,
  'volumeMa20': None,
  'volumeMa5': 13722.396799999999,
  '成交筆數': 7546,
  '成交金額': 567666648,
  '漲跌價差': -0.45},
 {'_id': ObjectId('61442da9c55dba939f705781'),
  'close': 35.9,
  'date': '110/04/15',
  'high': 35.9,
  'index': 8,
  'low': 33.05,
  'ma10': None,
  'ma20': None,
  'ma5': 33.19000000000001,
  'open': 33.2,
  'slowd': 71.32168243279352,
  'slowj': 81.43070920848709,
  'slowk': 74.69135802469138,
  'volume': 47401.791,
  'volumeMa10': None,
  'volumeMa20': None,
  'volumeMa5': 21732.1476,
  '成交筆數': 16539,
  '成交金額': 1679953018,
  '漲跌價差': 3.25},
 {'_id': ObjectId('61442da9c55dba939f705782'),
  'close': 39.45,
  'date': '110/04/16',
  'high': 39.45,
  'index': 9,
  'low': 36.7,
  'ma10': 33.045,
  'ma20': None,
  'ma5': 34.780000000000015,
  'open': 37.65,
  'slowd': 76.92533803644915,
  'slowj': 99.8530276308054,
  'slowk': 84.5679012345679,
  'volume': 58655.442,
  'volumeMa10': 21796.7732,
  'volumeMa20': None,
  'volumeMa5': 32156.353599999995,
  '成交筆數': 25115,
  '成交金額': 2261411408,
  '漲跌價差': 3.55},
 {'_id': ObjectId('61442da9c55dba939f705783'),
  'close': 40.1,
  'date': '110/04/19',
  'high': 42,
  'index': 10,
  'low': 39.55,
  'ma10': 33.935,
  'ma20': None,
  'ma5': 36.24000000000002,
  'open': 40.2,
  'slowd': 84.27649307513946,
  'slowj': 112.15767374819825,
  'slowk': 93.57021996615906,
  'volume': 54358.138,
  'volumeMa10': 25497.8022,
  'volumeMa20': None,
  'volumeMa5': 39433.0294,
  '成交筆數': 26104,
  '成交金額': 2211842509,
  '漲跌價差': 0.65},
 {'_id': ObjectId('61442da9c55dba939f705784'),
  'close': 39.95,
  'date': '110/04/20',
  'high': 39.95,
  'index': 11,
  'low': 38.65,
  'ma10': 34.835,
  'ma20': None,
  'ma5': 37.61000000000002,
  'open': 39.7,
  'slowd': 88.25698230661571,
  'slowj': 83.38451254412902,
  'slowk': 86.63282571912015,
  'volume': 25438.337,
  'volumeMa10': 27194.868599999998,
  'volumeMa20': None,
  'volumeMa5': 40634.9598,
  '成交筆數': 12974,
  '成交金額': 996242081,
  '漲跌價差': -0.15},
 {'_id': ObjectId('61442da9c55dba939f705785'),
  'close': 40.6,
  'date': '110/04/21',
  'high': 41.85,
  'index': 12,
  'low': 40.45,
  'ma10': 35.75000000000001,
  'ma20': None,
  'ma5': 39.20000000000002,
  'open': 41.2,
  'slowd': 87.20723956807105,
  'slowj': 69.84153992065976,
  'slowk': 81.41867301893394,
  'volume': 27166.257,
  'volumeMa10': 28163.194899999995,
  'volumeMa20': None,
  'volumeMa5': 42603.993,
  '成交筆數': 13137,
  '成交金額': 1114623054,
  '漲跌價差': 0.65},
 {'_id': ObjectId('61442da9c55dba939f705786'),
  'close': 38,
  'date': '110/04/22',
  'high': 41.3,
  'index': 13,
  'low': 37.25,
  'ma10': 36.40500000000001,
  'ma20': None,
  'ma5': 39.62000000000002,
  'open': 41.2,
  'slowd': 76.91423969547547,
  'slowj': 34.24518165416609,
  'slowk': 62.69122034837235,
  'volume': 31515.475,
  'volumeMa10': 30579.43869999999,
  'volumeMa20': None,
  'volumeMa5': 39426.72980000001,
  '成交筆數': 14349,
  '成交金額': 1237930564,
  '漲跌價差': -2.6},
 {'_id': ObjectId('61442da9c55dba939f705787'),
  'close': 41.8,
  'date': '110/04/23',
  'high': 41.8,
  'index': 14,
  'low': 38.65,
  'ma10': 37.43500000000001,
  'ma20': None,
  'ma5': 40.09000000000002,
  'open': 38.9,
  'slowd': 70.7783330635959,
  'slowj': 63.118651343252424,
  'slowk': 68.2251058234814,
  'volume': 39528.001,
  'volumeMa10': 33878.79759999999,
  'volumeMa20': None,
  'volumeMa5': 35601.2416,
  '成交筆數': 17436,
  '成交金額': 1608205908,
  '漲跌價差': 3.8},
 {'_id': ObjectId('61442da9c55dba939f705788'),
  'close': 44.7,
  'date': '110/04/26',
  'high': 45.7,
  'index': 15,
  'low': 42.2,
  'ma10': 38.62500000000001,
  'ma20': None,
  'ma5': 41.01000000000002,
  'open': 43.5,
  'slowd': 66.80360383999299,
  'slowj': 74.87624836438962,
  'slowk': 69.4944853481252,
  'volume': 56775.24,
  'volumeMa10': 37758.84569999999,
  'volumeMa20': None,
  'volumeMa5': 36084.662,
  '成交筆數': 26557,
  '成交金額': 2514325344,
  '漲跌價差': 2.9},
 {'_id': ObjectId('61442da9c55dba939f705789'),
  'close': 43.15,
  'date': '110/04/27',
  'high': 43.8,
  'index': 16,
  'low': 42.4,
  'ma10': 39.63,
  'ma20': None,
  'ma5': 41.65000000000002,
  'open': 43.7,
  'slowd': 74.10404587550039,
  'slowj': 105.56954761368297,
  'slowk': 84.59254645489459,
  'volume': 27144.071,
  'volumeMa10': 38530.38429999999,
  'volumeMa20': None,
  'volumeMa5': 36425.8088,
  '成交筆數': 14058,
  '成交金額': 1168599793,
  '漲跌價差': -1.55},
 {'_id': ObjectId('61442da9c55dba939f70578a'),
  'close': 43.1,
  'date': '110/04/28',
  'high': 45.6,
  'index': 17,
  'low': 42.45,
  'ma10': 40.675000000000004,
  'ma20': None,
  'ma5': 42.15000000000002,
  'open': 42.85,
  'slowd': 76.60889225781132,
  'slowj': 74.00115039561987,
  'slowk': 75.73964497041418,
  'volume': 32205.386,
  'volumeMa10': 40018.81379999999,
  'volumeMa20': None,
  'volumeMa5': 37433.6346,
  '成交筆數': 15998,
  '成交金額': 1417435212,
  '漲跌價差': -0.05},
 {'_id': ObjectId('61442da9c55dba939f70578b'),
  'close': 41.6,
  'date': '110/04/29',
  'high': 44.45,
  'index': 18,
  'low': 41.55,
  'ma10': 41.24500000000001,
  'ma20': None,
  'ma5': 42.87000000000002,
  'open': 43.5,
  'slowd': 73.54375559388909,
  'slowj': 33.809714881297225,
  'slowk': 60.299075356358465,
  'volume': 31620.098,
  'volumeMa10': 38440.64449999998,
  'volumeMa20': None,
  'volumeMa5': 37454.559199999996,
  '成交筆數': 14110,
  '成交金額': 1348635253,
  '漲跌價差': -1.5},
 {'_id': ObjectId('61442da9c55dba939f70578c'),
  'close': 42.15,
  'date': '110/05/03',
  'high': 44.15,
  'index': None,
  'low': 41.05,
  'ma10': 41.51500000000001,
  'ma20': 37.28,
  'ma5': 42.94000000000002,
  'open': 42,
  'slowd': 60.31631286897638,
  'slowj': 14.098029102516733,
  'slowk': 44.9102182801565,
  'volume': 29513.738,
  'volumeMa10': 35526.474099999985,
  'volumeMa20': 28661.62365,
  'volumeMa5': 35451.7066,
  '成交筆數': 14444,
  '成交金額': 1261823125,
  '漲跌價差': 0.55},
 {'_id': ObjectId('61442da9c55dba939f70578d'),
  'close': 40.6,
  'date': '110/05/04',
  'high': 43.85,
  'index': None,
  'low': 38.65,
  'ma10': 41.56500000000001,
  'ma20': 37.75,
  'ma5': 42.12000000000002,
  'open': 43.35,
  'slowd': 45.4650356084533,
  'slowj': 2.6273683496282416,
  'slowk': 31.185813188844946,
  'volume': 37176.796,
  'volumeMa10': 33808.33989999999,
  'volumeMa20': 29653.07105,
  'volumeMa5': 31532.0178,
  '成交筆數': 17086,
  '成交金額': 1521931835,
  '漲跌價差': -1.55},
 {'_id': ObjectId('61442da9c55dba939f70578e'),
  'close': 39.45,
  'date': '110/05/05',
  'high': 41.85,
  'index': None,
  'low': 39.2,
  'ma10': 41.51500000000001,
  'ma20': 38.175,
  'ma5': 41.38000000000001,
  'open': 41.1,
  'slowd': 32.39026152324889,
  'slowj': -1.5562637442620826,
  'slowk': 21.07475310074523,
  'volume': 19610.968,
  'volumeMa10': 33225.60299999999,
  'volumeMa20': 30210.235800000002,
  'volumeMa5': 30025.3972,
  '成交筆數': 9771,
  '成交金額': 792069360,
  '漲跌價差': -1.15},
 {'_id': ObjectId('61442da9c55dba939f70578f'),
  'close': 39.65,
  'date': '110/05/06',
  'high': 40.85,
  'index': None,
  'low': 39.1,
  'ma10': 41.42,
  'ma20': 38.584999999999994,
  'ma5': 40.69000000000001,
  'open': 40.2,
  'slowd': 23.732380389206266,
  'slowj': 9.344963855673335,
  'slowk': 18.936574878028622,
  'volume': 14490.201,
  'volumeMa10': 31957.997399999993,
  'volumeMa20': 30060.596150000005,
  'volumeMa5': 26482.360200000003,
  '成交筆數': 6669,
  '成交金額': 578721641,
  '漲跌價差': 0.2},
 {'_id': ObjectId('61442da9c55dba939f705790'),
  'close': 40.5,
  'date': '110/05/07',
  'high': 41.5,
  'index': None,
  'low': 39.75,
  'ma10': 41.67,
  'ma20': 39.037499999999994,
  'ma5': 40.47000000000001,
  'open': 40.6,
  'slowd': 20.269168694437393,
  'slowj': 21.85019692474018,
  'slowk': 20.796178104538324,
  'volume': 13708.918,
  'volumeMa10': 30177.341699999997,
  'volumeMa20': 30378.3902,
  'volumeMa5': 22900.124200000002,
  '成交筆數': 6569,
  '成交金額': 557082288,
  '漲跌價差': 0.85},
 {'_id': ObjectId('61442da9c55dba939f705791'),
  'close': 40.55,
  'date': '110/05/10',
  'high': 41.35,
  'index': None,
  'low': 40.4,
  'ma10': 41.545,
  'ma20': 39.489999999999995,
  'ma5': 40.15000000000002,
  'open': 41.1,
  'slowd': 22.957162603652307,
  'slowj': 41.501879277865314,
  'slowk': 29.138734828389975,
  'volume': 8944.89,
  'volumeMa10': 27119.0306,
  'volumeMa20': 30498.9141,
  'volumeMa5': 18786.354600000002,
  '成交筆數': 4422,
  '成交金額': 364582032,
  '漲跌價差': 0.05},
 {'_id': ObjectId('61442da9c55dba939f705792'),
  'close': 38,
  'date': '110/05/11',
  'high': 39.85,
  'index': None,
  'low': 37.1,
  'ma10': 40.87500000000001,
  'ma20': 39.74999999999999,
  'ma5': 39.63000000000002,
  'open': 39.85,
  'slowd': 26.547436932740293,
  'slowj': 36.02731973039713,
  'slowk': 29.707397865292574,
  'volume': 23429.948,
  'volumeMa10': 23784.501399999997,
  'volumeMa20': 30771.67355,
  'volumeMa5': 16036.985000000004,
  '成交筆數': 10770,
  '成交金額': 899685917,
  '漲跌價差': -2.55},
 {'_id': ObjectId('61442da9c55dba939f705793'),
  'close': 36.25,
  'date': '110/05/12',
  'high': 39.45,
  'index': None,
  'low': 34.9,
  'ma10': 40.18500000000001,
  'ma20': 39.90749999999999,
  'ma5': 38.99000000000002,
  'open': 38.5,
  'slowd': 28.053197055011907,
  'slowj': 19.833981304035717,
  'slowk': 25.313458471353176,
  'volume': 31618.65,
  'volumeMa10': 24231.9593,
  'volumeMa20': 31381.1718,
  'volumeMa5': 18438.521400000005,
  '成交筆數': 12913,
  '成交金額': 1173477146,
  '漲跌價差': -1.75},
 {'_id': ObjectId('61442da9c55dba939f705794'),
  'close': 35.05,
  'date': '110/05/13',
  'high': 37.35,
  'index': None,
  'low': 35.05,
  'ma10': 39.38000000000001,
  'ma20': 40.02749999999999,
  'ma5': 38.07000000000002,
  'open': 36,
  'slowd': 22.97080112869584,
  'slowj': -4.266961109066386,
  'slowk': 13.891547049441764,
  'volume': 20951.051,
  'volumeMa10': 23106.525799999996,
  'volumeMa20': 31562.669799999996,
  'volumeMa5': 19730.691400000003,
  '成交筆數': 9358,
  '成交金額': 749798405,
  '漲跌價差': -1.2},
 {'_id': ObjectId('61442da9c55dba939f705795'),
  'close': 34.5,
  'date': '110/05/14',
  'high': 36.7,
  'index': None,
  'low': 34.25,
  'ma10': 38.67,
  'ma20': 39.957499999999996,
  'ma5': 36.87000000000002,
  'open': 36.1,
  'slowd': 15.9848240055801,
  'slowj': -5.721248523324125,
  'slowk': 8.749466495945358,
  'volume': 17756.567,
  'volumeMa10': 21720.1727,
  'volumeMa20': 30080.408600000002,
  'volumeMa5': 20540.221200000004,
  '成交筆數': 7512,
  '成交金額': 624705264,
  '漲跌價差': -0.55},
 {'_id': ObjectId('61442da9c55dba939f705796'),
  'close': 32.1,
  'date': '110/05/17',
  'high': 34.2,
  'index': None,
  'low': 31.55,
  'ma10': 37.665000000000006,
  'ma20': 39.58999999999999,
  'ma5': 35.18000000000002,
  'open': 32.25,
  'slowd': 8.927044521505373,
  'slowj': -5.433728985623752,
  'slowk': 4.1401200191289975,
  'volume': 17990.624,
  'volumeMa10': 20567.861299999997,
  'volumeMa20': 28047.167699999998,
  'volumeMa5': 22349.368000000002,
  '成交筆數': 7826,
  '成交金額': 588596218,
  '漲跌價差': -2.4},
 {'_id': ObjectId('61442da9c55dba939f705797'),
  'close': 34.25,
  'date': '110/05/18',
  'high': 34.5,
  'index': None,
  'low': 32.65,
  'ma10': 37.03000000000001,
  'ma20': 39.29749999999999,
  'ma5': 34.43000000000002,
  'open': 33.2,
  'slowd': 9.221511946639579,
  'slowj': 25.881824081253985,
  'slowk': 14.77494932484438,
  'volume': 12571.737,
  'volumeMa10': 18107.355399999997,
  'volumeMa20': 25957.847649999996,
  'volumeMa5': 20177.7258,
  '成交筆數': 5851,
  '成交金額': 423506238,
  '漲跌價差': 2.15},
 {'_id': ObjectId('61442da9c55dba939f705798'),
  'close': 34.25,
  'date': '110/05/19',
  'high': 34.45,
  'index': None,
  'low': 33.35,
  'ma10': 36.510000000000005,
  'ma20': 39.01249999999999,
  'ma5': 34.030000000000015,
  'open': 33.6,
  'slowd': 16.011183709313435,
  'slowj': 55.33307793327391,
  'slowk': 29.118481783966928,
  'volume': 11867.205,
  'volumeMa10': 17332.979099999997,
  'volumeMa20': 25279.291049999996,
  'volumeMa5': 16227.436800000001,
  '成交筆數': 5944,
  '成交金額': 402287592,
  '漲跌價差': 0},
 {'_id': ObjectId('61442da9c55dba939f705799'),
  'close': 33.7,
  'date': '110/05/20',
  'high': 35.8,
  'index': None,
  'low': 33.65,
  'ma10': 35.915000000000006,
  'ma20': 38.66749999999999,
  'ma5': 33.76000000000001,
  'open': 34,
  'slowd': 28.239645052196924,
  'slowj': 65.99722203894456,
  'slowk': 40.82550404777947,
  'volume': 14035.688,
  'volumeMa10': 17287.527799999996,
  'volumeMa20': 24622.7626,
  'volumeMa5': 14844.3642,
  '成交筆數': 6721,
  '成交金額': 484872489,
  '漲跌價差': -0.55},
 {'_id': ObjectId('61442da9c55dba939f70579a'),
  'close': 34.65,
  'date': '110/05/21',
  'high': 35.35,
  'index': None,
  'low': 34.25,
  'ma10': 35.330000000000005,
  'ma20': 38.499999999999986,
  'ma5': 33.79000000000001,
  'open': 34.3,
  'slowd': 41.2302701021436,
  'slowj': 78.77993321976602,
  'slowk': 53.74682447468441,
  'volume': 9842.845,
  'volumeMa10': 16900.920499999997,
  'volumeMa20': 23539.1311,
  'volumeMa5': 13261.6198,
  '成交筆數': 4526,
  '成交金額': 341741473,
  '漲跌價差': 0.95},
 {'_id': ObjectId('61442da9c55dba939f70579b'),
  'close': 35.25,
  'date': '110/05/24',
  'high': 36,
  'index': None,
  'low': 34.3,
  'ma10': 34.800000000000004,
  'ma20': 38.17249999999999,
  'ma5': 34.420000000000016,
  'open': 34.65,
  'slowd': 52.89085279466902,
  'slowj': 86.5189839952916,
  'slowk': 64.10022986154321,
  'volume': 10081.26,
  'volumeMa10': 17014.557499999995,
  'volumeMa20': 22066.79405,
  'volumeMa5': 11679.747,
  '成交筆數': 4944,
  '成交金額': 353876800,
  '漲跌價差': 0.6},
 {'_id': ObjectId('61442da9c55dba939f70579c'),
  'close': 35.5,
  'date': '110/05/25',
  'high': 36.25,
  'index': None,
  'low': 35.2,
  'ma10': 34.550000000000004,
  'ma20': 37.71249999999999,
  'ma5': 34.670000000000016,
  'open': 35.7,
  'slowd': 64.24802342358457,
  'slowj': 96.19500095640925,
  'slowk': 74.89701593452612,
  'volume': 7725.918,
  'volumeMa10': 15444.154499999995,
  'volumeMa20': 19614.32795,
  'volumeMa5': 10710.583200000001,
  '成交筆數': 3973,
  '成交金額': 274750990,
  '漲跌價差': 0.25},
 {'_id': ObjectId('61442da9c55dba939f70579d'),
  'close': 35.75,
  'date': '110/05/26',
  'high': 36.5,
  'index': None,
  'low': 35,
  'ma10': 34.50000000000001,
  'ma20': 37.34249999999999,
  'ma5': 34.97000000000001,
  'open': 35.85,
  'slowd': 71.38064658305709,
  'slowj': 82.67278869319176,
  'slowk': 75.14469395310198,
  'volume': 8933.861,
  'volumeMa10': 13175.675599999997,
  'volumeMa20': 18703.81745,
  'volumeMa5': 10123.9144,
  '成交筆數': 4412,
  '成交金額': 319934025,
  '漲跌價差': 0.25},
 {'_id': ObjectId('61442da9c55dba939f70579e'),
  'close': 36.2,
  'date': '110/05/27',
  'high': 36.35,
  'index': None,
  'low': 35.35,
  'ma10': 34.615,
  'ma20': 36.99749999999999,
  'ma5': 35.47000000000001,
  'open': 35.65,
  'slowd': 76.06821532114992,
  'slowj': 82.35237758516541,
  'slowk': 78.16293607582175,
  'volume': 6482.465,
  'volumeMa10': 11728.816999999995,
  'volumeMa20': 17417.6714,
  'volumeMa5': 8613.269799999998,
  '成交筆數': 2660,
  '成交金額': 233024588,
  '漲跌價差': 0.45},
 {'_id': ObjectId('61442da9c55dba939f70579f'),
  'close': 36.4,
  'date': '110/05/28',
  'high': 37.15,
  'index': None,
  'low': 36.25,
  'ma10': 34.805,
  'ma20': 36.73749999999999,
  'ma5': 35.820000000000014,
  'open': 37.15,
  'slowd': 77.10644197845214,
  'slowj': 79.82220376239403,
  'slowk': 78.01169590643276,
  'volume': 8330.033,
  'volumeMa10': 10786.163599999996,
  'volumeMa20': 16253.168150000001,
  'volumeMa5': 8310.7074,
  '成交筆數': 3923,
  '成交金額': 305064564,
  '漲跌價差': 0.2},
 {'_id': ObjectId('61442da9c55dba939f7057a0'),
  'close': 37.05,
  'date': '110/05/31',
  'high': 37.3,
  'index': None,
  'low': 36.25,
  'ma10': 35.3,
  'ma20': 36.48249999999999,
  'ma5': 36.18000000000002,
  'open': 36.55,
  'slowd': 79.77835643581716,
  'slowj': 89.9245991039569,
  'slowk': 83.16043732519707,
  'volume': 7478.268,
  'volumeMa10': 9734.927999999996,
  'volumeMa20': 15151.394649999998,
  'volumeMa5': 7790.108999999999,
  '成交筆數': 3652,
  '成交金額': 273863133,
  '漲跌價差': 0.65},
 {'_id': ObjectId('61442da9c55dba939f7057a1'),
  'close': 37.25,
  'date': '110/06/01',
  'high': 38.8,
  'index': None,
  'low': 37,
  'ma10': 35.6,
  'ma20': 36.31499999999998,
  'ma5': 36.530000000000015,
  'open': 37.5,
  'slowd': 78.39350792440035,
  'slowj': 65.23815577591319,
  'slowk': 74.0083905415713,
  'volume': 14489.956,
  'volumeMa10': 9926.749899999997,
  'volumeMa20': 14017.052649999998,
  'volumeMa5': 9142.916599999999,
  '成交筆數': 6787,
  '成交金額': 546974118,
  '漲跌價差': 0.2},
 {'_id': ObjectId('61442da9c55dba939f7057a2'),
  'close': 36.4,
  'date': '110/06/02',
  'high': 37.5,
  'index': None,
  'low': 36.35,
  'ma10': 35.815,
  'ma20': 36.16249999999998,
  'ma5': 36.66000000000002,
  'open': 37.25,
  'slowd': 72.25358081193319,
  'slowj': 34.26858208322733,
  'slowk': 59.59191456903124,
  'volume': 8953.505,
  'volumeMa10': 9635.379899999996,
  'volumeMa20': 13484.179499999998,
  'volumeMa5': 9146.845399999997,
  '成交筆數': 4557,
  '成交金額': 329739009,
  '漲跌價差': -0.85},
 {'_id': ObjectId('61442da9c55dba939f7057a3'),
  'close': 37.25,
  'date': '110/06/03',
  'high': 37.4,
  'index': None,
  'low': 36.4,

In [21]:
# insert one
dic = {
    'userid': '1432ewfrq',
    'user_name': 'apple',
    'create_time': datetime.now(),
    'note': 'test user'
}

col1.insert_one(dic)

In [22]:
# insert many
dic_list = [
    {
        'userid': '21343fwejr',
        'user_name': 'banana',
        'create_time': datetime.now(),
        'note1': 'user',
    },
    {
        'userid': '21343fwejr',
        'user_name': 'another',
        'create_time': datetime.now(),
        'note1': 'user',
    },
]

col1.insert_many(dic_list)

In [25]:
# sort
list(col1.find().sort('user_name'))

[{'_id': ObjectId('61440859e41be23bc6ee440a'), '123': '456'},
 {'_id': ObjectId('6144100cc55dba939f705537'),
  'userid': '21343fwejr',
  'user_name': 'another',
  'create_time': datetime.datetime(2021, 9, 17, 11, 48, 28, 251000),
  'note1': 'user'},
 {'_id': ObjectId('61440f40c55dba939f705535'),
  'userid': '1432ewfrq',
  'user_name': 'apple',
  'create_time': datetime.datetime(2021, 9, 17, 11, 45, 4, 295000),
  'note': 'test user'},
 {'_id': ObjectId('6144100cc55dba939f705536'),
  'userid': '21343fwejr',
  'user_name': 'banana',
  'create_time': datetime.datetime(2021, 9, 17, 11, 48, 28, 251000),
  'note1': 'user'}]

## 全球指數

In [46]:
import requests
import pandas as pd
import io

url = "https://finance.yahoo.com/world-indices/"
response = requests.get(url)

f = io.StringIO(response.text)
dfs = pd.read_html(f)
world_index = dfs[0]

In [47]:
world_index

,Symbol,Name,Last Price,Change,% Change,Volume,Intraday High/Low,52 Week Range,Day Chart
0,^GSPC,S&P 500,4354.19,-3.54,-0.08%,1.915B,NaN,NaN,NaN
1,^DJI,Dow Jones Industrial Average,33919.84,-50.63,-0.15%,307.985M,NaN,NaN,NaN
2,^IXIC,NASDAQ Composite,14746.40,+32.49,+0.22%,3.688B,NaN,NaN,NaN
3,^NYA,NYSE COMPOSITE (DJ),16184.50,+16.34,+0.10%,0,NaN,NaN,NaN
4,^XAX,NYSE AMEX COMPOSITE INDEX,3003.80,+59.21,+2.01%,0,NaN,NaN,NaN
5,^BUK100P,Cboe UK 100,693.16,+6.23,+0.91%,0,NaN,NaN,NaN
6,^RUT,Russell 2000,2186.18,+3.98,+0.18%,0,NaN,NaN,NaN
7,^VIX,Vix,24.36,-1.35,-5.25%,0,NaN,NaN,NaN
8,^FTSE,FTSE 100,6980.98,+77.07,+1.12%,0,NaN,NaN,NaN
9,^GDAXI,DAX PERFORMANCE-INDEX,15348.53,+216.47,+1.43%,0,NaN,NaN,NaN
10,^FCHI,CAC 40,6552.73,+96.92,+1.50%,0,NaN,NaN,NaN
11,^STOXX50E,ESTX 50 PR.EUR,4097.51,+53.88,+1.33%,0,NaN,NaN,NaN
12,^N100,EURONEXT 100,1291.36,+17.21,+1.35%,0,NaN,NaN,NaN
13,^BFX,BEL 20,4111.57,+32.53,+0.80%,0,NaN,NaN,NaN
14,IMOEX.ME,MOEX Russia Index,3970.48,+0.87,+0.02%,0,NaN,NaN,NaN
15,^N225,Nikkei 225,29650.99,-188.72,-0.63%,0,NaN,NaN,NaN
16,^HSI,HANG SENG INDEX,24221.54,+122.40,+0.51%,0,NaN,NaN,NaN
17,000001.SS,SSE Composite Index,3603.41,-10.56,-0.29%,4.049B,NaN,NaN,NaN
18,399001.SZ,Shenzhen Component,14242.56,-116.80,-0.81%,1.57B,NaN,NaN,NaN
19,^STI,STI Index,3044.16,-19.04,-0.62%,0,NaN,NaN,NaN
20,^AXJO,S&P/ASX 200,7333.40,+59.60,+0.82%,0,NaN,NaN,NaN
21,^AORD,ALL ORDINARIES,7629.20,+66.10,+0.87%,0,NaN,NaN,NaN
22,^BSESN,S&P BSE SENSEX,58950.20,-55.07,-0.09%,0,NaN,NaN,NaN
23,^JKSE,Jakarta Composite Index,6115.41,+54.66,+0.90%,0,NaN,NaN,NaN
24,^KLSE,FTSE Bursa Malaysia KLCI,1525.20,-5.24,-0.34%,0,NaN,NaN,NaN
25,^NZ50,S&P/NZX 50 INDEX GROSS,13224.92,+47.98,+0.36%,0,NaN,NaN,NaN
26,^KS11,KOSPI Composite Index,3140.51,+10.42,+0.33%,589244,NaN,NaN,NaN
27,^TWII,TSEC weighted index,16935.21,-341.58,-1.98%,0,NaN,NaN,NaN
28,^GSPTSE,S&P/TSX Composite index,20244.29,+89.75,+0.45%,210.541M,NaN,NaN,NaN
29,^BVSP,IBOVESPA,110249.73,"+1,405.98",+1.29%,0,NaN,NaN,NaN
30,^MXX,IPC MEXICO,50828.13,+270.48,+0.53%,143.968M,NaN,NaN,NaN
31,^IPSA,S&P/CLX IPSA,5058.88,0.00,0.00%,0,NaN,NaN,NaN
32,^MERV,MERVAL,38390.84,+233.89,+0.61%,0,NaN,NaN,NaN
33,^TA125.TA,TA-125,1864.09,+1.56,+0.08%,0,NaN,NaN,NaN
34,^CASE30,EGX 30 Price Return Index,10498.50,-212.10,-1.98%,0,NaN,NaN,NaN
35,^JN0U.JO,Top 40 USD Net TRI Index,4052.67,+37.04,+0.92%,0,NaN,NaN,NaN

# 發行量加權指數爬蟲

In [109]:
def crawl_taiwan(year, month):
    import requests
    import bs4
    import time
    import sqlite3
    
    url='https://www.twse.com.tw/indicesReport/MI_5MINS_HIST?response=html&date=' + str(year) + str(month) + '01'
    res = requests.get(url)
    
    soup = bs4.BeautifulSoup(res.text, 'html.parser')
    #取得table並整理
    data = soup.select('table')[0]#找到table
    df = pd.read_html(data.prettify())[0]#將data整理並將第1個建立成DataFrame
    df.columns=df.columns.get_level_values(1)#取得第2欄的標頭
    df.columns=[u'date',u'open',u'high',u'low',u'close']#將標頭重新命名
    
#     conn1 = sqlite3.connect('indexPrice.db')
#     df.to_sql('taiwan', conn1, if_exists='replace')
#     table = pd.read_sql('select * from taiwan', conn1)
#     table = table.append(df)
    
#     table.to_sql('taiwan', conn1, if_exists='replace')
    
    time.sleep(3)
#     return table
    return df

In [123]:
df = crawl_taiwan('2021', '06')

In [117]:
dfs = pd.DataFrame(columns=['close', 'date', 'high', 'index', 'low', 'open'])

In [124]:
dfs = dfs.append(df)
dfs

       close       date      high index       low      open
0   16571.28  110/04/01  16602.47   NaN  16496.16  16538.28
1   16739.87  110/04/06  16804.45   NaN  16711.79  16711.79
2   16815.36  110/04/07  16816.34   NaN  16715.32  16771.35
3   16926.44  110/04/08  16926.72   NaN  16735.78  16786.56
4   16854.10  110/04/09  17016.13   NaN  16815.59  16974.28
5   16859.70  110/04/12  16979.35   NaN  16793.54  16908.55
6   16824.91  110/04/13  17041.37   NaN  16802.22  16872.40
7   16865.97  110/04/14  16935.39   NaN  16559.57  16869.78
8   17076.73  110/04/15  17076.73   NaN  16851.06  16851.06
9   17158.81  110/04/16  17158.81   NaN  16998.91  17028.35
10  17263.28  110/04/19  17294.15   NaN  17135.52  17141.25
11  17323.87  110/04/20  17323.87   NaN  17175.02  17231.58
12  17202.11  110/04/21  17282.76   NaN  17167.39  17282.76
13  17096.97  110/04/22  17428.15   NaN  17066.17  17302.73
14  17300.27  110/04/23  17300.27   NaN  17055.48  17117.49
15  17572.29  110/04/26  17572.29   NaN  17378.36  17378.36
16  17595.90  110/04/27  17630.19   NaN  17489.71  17586.02
17  17567.53  110/04/28  17628.81   NaN  17497.74  17610.72
18  17566.66  110/04/29  17709.23   NaN  17548.30  17646.93
0   17222.35  110/05/03  17546.94   NaN  17222.35  17505.52
1   16933.78  110/05/04  17328.55   NaN  16647.61  17249.56
2   16843.44  110/05/05  17052.20   NaN  16843.44  16968.75
3   16994.36  110/05/06  17088.73   NaN  16764.71  16925.52
4   17285.00  110/05/07  17285.00   NaN  17032.23  17032.23
5   17235.61  110/05/10  17304.47   NaN  17188.15  17274.23
6   16583.13  110/05/11  17137.19   NaN  16460.87  17137.19
7   15902.37  110/05/12  16552.63   NaN  15165.27  16515.88
8   15670.10  110/05/13  16031.93   NaN  15368.54  15668.33
9   15827.09  110/05/14  16075.48   NaN  15702.10  15819.24
10  15353.89  110/05/17  15719.74   NaN  15159.86  15554.99
..       ...        ...       ...   ...       ...       ...
12  16132.66  110/05/19  16273.98   NaN  16009.76  16112.21
13  16042.36  110/05/20  16154.08   NaN  15943.45  16122.52
14  16302.06  110/05/21  16431.14   NaN  16136.86  16136.86
15  16338.29  110/05/24  16397.59   NaN  16136.97  16246.52
16  16595.67  110/05/25  16657.60   NaN  16444.75  16444.75
17  16643.69  110/05/26  16706.29   NaN  16523.23  16645.17
18  16601.61  110/05/27  16601.61   NaN  16419.42  16591.70
19  16870.86  110/05/28  16889.01   NaN  16690.04  16690.04
20  17068.43  110/05/31  17113.33   NaN  16939.91  16948.47
0   17162.38  110/06/01  17184.30   NaN  17060.45  17098.49
1   17165.04  110/06/02  17274.66   NaN  17056.42  17192.91
2   17246.16  110/06/03  17311.28   NaN  17198.89  17201.30
3   17147.41  110/06/04  17225.06   NaN  17084.49  17225.06
4   17083.91  110/06/07  17189.23   NaN  16775.85  17176.09
5   17076.21  110/06/08  17181.52   NaN  17056.53  17094.34
6   16966.22  110/06/09  17082.52   NaN  16907.43  17082.52
7   17159.22  110/06/10  17159.22   NaN  16978.01  17024.54
8   17213.52  110/06/11  17278.55   NaN  17193.61  17200.45
9   17371.29  110/06/15  17371.29   NaN  17279.70  17279.70
10  17307.86  110/06/16  17398.22   NaN  17275.02  17357.37
11  17390.61  110/06/17  17390.61   NaN  17150.52  17254.84
12  17318.54  110/06/18  17417.50   NaN  17318.54  17384.74
13  17062.98  110/06/21  17305.49   NaN  17023.31  17305.49
14  17075.55  110/06/22  17270.47   NaN  17075.55  17162.71
15  17336.71  110/06/23  17375.79   NaN  17127.59  17127.59
16  17407.96  110/06/24  17439.63   NaN  17319.89  17358.57
17  17502.99  110/06/25  17597.33   NaN  17471.07  17471.07
18  17590.97  110/06/28  17595.51   NaN  17481.23  17531.82
19  17598.19  110/06/29  17713.24   NaN  17541.14  17621.15
20  17755.46  110/06/30  17797.27   NaN  17648.25  17648.25

[61 rows x 6 columns]

In [128]:
month_array = ['07', '08', '09']
for i in month_array:
    df = crawl_taiwan('2021', i)
    dfs = dfs.append(df)
dfs

       close       date      high index       low      open
0   16571.28  110/04/01  16602.47   NaN  16496.16  16538.28
1   16739.87  110/04/06  16804.45   NaN  16711.79  16711.79
2   16815.36  110/04/07  16816.34   NaN  16715.32  16771.35
3   16926.44  110/04/08  16926.72   NaN  16735.78  16786.56
4   16854.10  110/04/09  17016.13   NaN  16815.59  16974.28
5   16859.70  110/04/12  16979.35   NaN  16793.54  16908.55
6   16824.91  110/04/13  17041.37   NaN  16802.22  16872.40
7   16865.97  110/04/14  16935.39   NaN  16559.57  16869.78
8   17076.73  110/04/15  17076.73   NaN  16851.06  16851.06
9   17158.81  110/04/16  17158.81   NaN  16998.91  17028.35
10  17263.28  110/04/19  17294.15   NaN  17135.52  17141.25
11  17323.87  110/04/20  17323.87   NaN  17175.02  17231.58
12  17202.11  110/04/21  17282.76   NaN  17167.39  17282.76
13  17096.97  110/04/22  17428.15   NaN  17066.17  17302.73
14  17300.27  110/04/23  17300.27   NaN  17055.48  17117.49
15  17572.29  110/04/26  17572.29   NaN  17378.36  17378.36
16  17595.90  110/04/27  17630.19   NaN  17489.71  17586.02
17  17567.53  110/04/28  17628.81   NaN  17497.74  17610.72
18  17566.66  110/04/29  17709.23   NaN  17548.30  17646.93
0   17222.35  110/05/03  17546.94   NaN  17222.35  17505.52
1   16933.78  110/05/04  17328.55   NaN  16647.61  17249.56
2   16843.44  110/05/05  17052.20   NaN  16843.44  16968.75
3   16994.36  110/05/06  17088.73   NaN  16764.71  16925.52
4   17285.00  110/05/07  17285.00   NaN  17032.23  17032.23
5   17235.61  110/05/10  17304.47   NaN  17188.15  17274.23
6   16583.13  110/05/11  17137.19   NaN  16460.87  17137.19
7   15902.37  110/05/12  16552.63   NaN  15165.27  16515.88
8   15670.10  110/05/13  16031.93   NaN  15368.54  15668.33
9   15827.09  110/05/14  16075.48   NaN  15702.10  15819.24
10  15353.89  110/05/17  15719.74   NaN  15159.86  15554.99
..       ...        ...       ...   ...       ...       ...
7   17227.18  110/08/11  17327.20   NaN  17090.25  17308.62
8   17219.94  110/08/12  17233.11   NaN  17139.21  17221.35
9   16982.11  110/08/13  17216.34   NaN  16978.11  17216.34
10  16858.77  110/08/16  16983.59   NaN  16773.57  16941.33
11  16661.36  110/08/17  16870.55   NaN  16657.63  16841.62
12  16826.27  110/08/18  16826.27   NaN  16418.54  16630.99
13  16375.40  110/08/19  16777.78   NaN  16375.40  16777.78
14  16341.94  110/08/20  16507.11   NaN  16248.08  16426.98
15  16741.84  110/08/23  16785.29   NaN  16459.13  16459.13
16  16818.73  110/08/24  16904.30   NaN  16779.90  16830.63
17  17045.86  110/08/25  17045.86   NaN  16821.08  16821.08
18  17066.96  110/08/26  17201.42   NaN  16984.69  17177.39
19  17209.93  110/08/27  17229.89   NaN  17000.26  17061.10
20  17396.52  110/08/30  17396.52   NaN  17244.62  17244.62
21  17490.29  110/08/31  17490.29   NaN  17207.57  17384.61
0   17473.99  110/09/01  17503.93   NaN  17415.52  17463.80
1   17319.76  110/09/02  17523.16   NaN  17319.76  17455.92
2   17516.92  110/09/03  17540.78   NaN  17380.52  17380.52
3   17495.30  110/09/06  17633.67   NaN  17461.07  17534.05
4   17428.87  110/09/07  17559.21   NaN  17388.37  17534.38
5   17270.49  110/09/08  17447.58   NaN  17167.08  17411.53
6   17304.33  110/09/09  17319.09   NaN  17122.95  17175.04
7   17474.57  110/09/10  17474.57   NaN  17270.28  17270.28
8   17446.31  110/09/13  17482.57   NaN  17387.57  17452.16
9   17434.90  110/09/14  17529.47   NaN  17424.54  17463.78
10  17354.00  110/09/15  17439.75   NaN  17316.52  17434.02
11  17278.70  110/09/16  17411.37   NaN  17254.10  17332.34
12  17276.79  110/09/17  17408.71   NaN  17235.45  17279.29
13  16925.82  110/09/22  17196.79   NaN  16838.58  17196.79
14  17078.22  110/09/23  17145.25   NaN  16998.07  16998.07

[179 rows x 6 columns]

In [127]:
conn = sqlite3.connect('indexPrice.db')
dfs.to_sql('taiwan', conn, if_exists='replace')