In [255]:
# change two place
def get_balance_sheet(stock_id, start_year, end_year):
    import pandas as pd
    import sqlite3
    import time
    import requests
    
    balance_sheet_url = 'https://mops.twse.com.tw/mops/web/ajax_t164sb03'
    income_statement_url = 'https://mops.twse.com.tw/mops/web/ajax_t164sb04'
    cash_flows_url = 'https://mops.twse.com.tw/mops/web/ajax_t164sb05'
#     'https://mops.twse.com.tw/mops/web/ajax_t164sb04'
    
    url = income_statement_url # change 1  cash_flows_url, income_statement_url, balance_sheet_url
    
    year = range(start_year, end_year+1)
    season = range(1, 5)
    dfs = []
    try:
        for y in year:
            for s in season:
                form_data = {
                    'encodeURIComponent': '',
                    'step': '1',
                    'firstin': '1',
                    'off': '1',
                    'queryName': 'co_id',
                    'inpuType': 'co_id',
                    'TYPEK': 'all',
                    'isnew': 'false',
                    'co_id': str(stock_id),
                    'year': str(y),
                    'season': str(s),
                }

                res = requests.post(url, data=form_data)
                table = pd.read_html(res.text)[1]
                table = table.iloc[:, 0:2]
                table.columns = table.columns.get_level_values(2)
                table = table.set_index('會計項目')
                table = table[table.duplicated() == False]
                dfs.append(table)
                time.sleep(3)

        df_final = pd.DataFrame(columns=['會計項目'])
        for df in dfs:
            df_final = df_final.merge(df, how='outer', left_index=True, right_index=True)

        df_final = df_final[df_final.index.duplicated() == False]
        df_final = df_final.T.reset_index()
        df_final = df_final.rename(columns={'index': 'date', '會計項目': 'index'})
        df_final = df_final.shift(-1)
        last_index = df_final.index[-1]
        df_final = df_final.drop(axis=0, index=last_index)
        conn = sqlite3.connect('balance_sheet.db') # change 2 cashFlow, income_sheet, balance_sheet
#         df_final.to_sql('balance_' + str(stock_id), conn, if_exists='replace') # change 3  cashFlow_, _, balance_
        print(str(stock_id), ': success')
        return df_final
    except:
        print(str(stock_id), ':fail')
        return None

In [256]:
# download_table = [1101, 2317, 2330, 2498]
download_table = [1101]
for d in download_table:
    table = get_balance_sheet(d, 108, 109)
table
# table_2317 = get_balance_sheet(2317, 102, 104)
# table_2317

1101 : success

會計項目,date,不重分類至損益之項目：,其他利益及損失淨額,其他收入,其他綜合損益（淨額）,利息收入,國外營運機構財務報表換算之兌換差額,後續可能重分類至損益之項目：,所得稅費用（利益）合計,採用權益法認列之關聯企業及合資之其他綜合損益之份額-不重分類至損益之項目,...,管理費用,繼續營業單位本期淨利（淨損）,繼續營業單位淨利（淨損）,與不重分類之項目相關之所得稅,與可能重分類之項目相關之所得稅,財務成本淨額,透過其他綜合損益按公允價值衡量之權益工具投資未實現評價損益,避險工具之損益－不重分類至損益,非控制權益（淨利∕損）,非控制權益（綜合損益）
0,108年01月01日至108年03月31日,5.99751e+06,64218,594045,8.60013e+06,NaN,3.24266e+06,2.60262e+06,1.37352e+06,126904,...,1.22968e+06,4.22997e+06,0.77,0,NaN,535879,5.87061e+06,NaN,278050,359923
1,108年第2季,1.17875e+06,100525,1.3051e+06,-147533,NaN,-1.7866e+06,-1.32628e+06,1.70414e+06,102204,...,1.3064e+06,7.63082e+06,1.41,0,NaN,551006,1.07886e+06,-2318,400759,411495
2,108年第3季,-973610,-285466,1.04338e+06,-7.21679e+06,NaN,-5.16588e+06,-6.24318e+06,1.8765e+06,-101400,...,1.34373e+06,7.04441e+06,1.2,0,NaN,572041,-873355,1145,506863,467897
3,108年度,1.16945e+07,-1.3544e+06,3.52083e+06,5.02476e+06,NaN,-4.7921e+06,-6.66975e+06,7.17833e+06,163201,...,4.69967e+06,2.54551e+07,4.43,80567,0,2.19912e+06,1.1209e+07,NaN,1.24401e+06,1.30176e+06
4,109年01月01日至109年03月31日,-1.75298e+06,-37753,519309,-4.60486e+06,NaN,-2.10648e+06,-2.85188e+06,1.25276e+06,-197062,...,1.08862e+06,3.48112e+06,0.55,NaN,NaN,526077,-1.55572e+06,-192,481297,365566
5,109年第2季,-1.2231e+06,-195679,1.04770e+06,-2.94463e+06,373140,-1.36595e+06,-1.72153e+06,2.16115e+06,115827,...,1.30725e+06,8.64457e+06,1.39,NaN,NaN,514438,-1.33934e+06,408,709765,700638
6,109年第3季,342323,-81817,810353,3.22974e+06,325983,2.62003e+06,2.88741e+06,2.09725e+06,-14469,...,1.21413e+06,8.58062e+06,1.3,NaN,NaN,473153,356792,0,1.108e+06,1.10741e+06
7,109年度,-4.6142e+06,-631963,2.06593e+06,-2.4955e+06,1.36349e+06,2.21919e+06,2.11870e+06,7.36191e+06,-11998,...,5.11039e+06,2.79914e+07,4.32,25212,NaN,1.98621e+06,-4.70321e+06,216,2.89208e+06,2.78729e+06

In [261]:
table.date

0    108年01月01日至108年03月31日
1                  108年第2季
2                  108年第3季
3                    108年度
4    109年01月01日至109年03月31日
5                  109年第2季
6                  109年第3季
7                    109年度
Name: date, dtype: object

In [247]:
conn = sqlite3.connect('cashFlow_sheet.db')
table = pd.read_sql('select * from cashFlow_1101', conn)
conn1 = sqlite3.connect('balance_sheet.db')
table1 = pd.read_sql('select * from balance_1101', conn1)
conn2 = sqlite3.connect('income_sheet.db')
table2 = pd.read_sql('select * from _1101', conn2)
print('cash flow: ', table.columns, '\nbalance: ', table1.columns, '\nincome: ', table2.columns)

cash flow:  Index(['index', 'date', '償還長期借款', '其他借款增加', '其他借款減少', '其他應付款增加（減少）',
       '其他應付款－關係人增加', '其他應付款－關係人增加（減少）', '其他應收款（增加）減少', '其他應收款－關係人增加',
       '其他應收款－關係人（增加）減少', '其他投資活動', '其他流動負債增加（減少）', '其他流動資產（增加）減少',
       '其他符合國際會計準則第七號現金及約當現金定義之項目', '其他籌資活動', '其他非流動負債減少', '其他非流動資產增加',
       '其他非流動資產減少', '其他項目', '利息收入', '利息費用', '匯率變動對現金及約當現金之影響', '取得不動產、廠房及設備',
       '取得使用權資產', '取得子公司股權', '取得按攤銷後成本衡量之金融資產', '取得採用權益法之投資', '取得無形資產',
       '取得透過其他綜合損益按公允價值衡量之金融資產', '合約負債增加（減少）', '合約資產（增加）減少', '員工執行認股權',
       '存貨（增加）減少', '庫藏股票買回成本', '強制透過損益按公允價值衡量之金融資產（增加）減少', '應付帳款增加（減少）',
       '應付短期票券增加', '應付短期票券減少', '應收帳款（增加）減少', '應收帳款－關係人（增加）減少', '應收票據（增加）減少',
       '投資活動之淨現金流入（流出）', '折舊費用', '採用權益法認列之關聯企業及合資損失（利益）之份額', '攤銷費用', '支付之利息',
       '收取之利息', '收取之股利', '收益費損項目合計', '期初現金及約當現金餘額', '期末現金及約當現金餘額',
       '未實現外幣兌換損失（利益）', '本期現金及約當現金增加（減少）數', '淨確定福利負債增加(減少)', '營業活動之淨現金流入（流出）',
       '營業活動之現金流量－間接法', '營運產生之現金流入（流出）', '發放現金股利', '發行公司債', '短期借款增加', '短期借款減少',
       '租賃本金償還', '籌資活動之淨現金流入（流出）', '繼續營業單位稅前淨利（淨損）', '股份基礎給付酬勞成本', '股利收入',
       '與營業活動相關之負債之淨變動合計', '與營業活動相關之資產之淨變動合計', '與營業活動相關之資產及負債之淨變動合計', '舉借長期借款',
       '處分不動產、廠房及設備', '處分及報廢不動產、廠房及設備損失（利益）', '處分投資性不動產損失（利益）', '處分投資損失（利益）',
       '處分採用權益法之投資', '處分透過其他綜合損益按公允價值衡量之金融資產', '調整項目合計', '資產負債表帳列之現金及約當現金',
       '退還（支付）之所得稅', '透過損益按公允價值衡量金融資產及負債之淨損失（利益）', '長期應收租賃款增加', '長期應收租賃款減少',
       '附買回票券及債券負債減少', '非控制權益變動', '非金融資產減損損失', '非金融資產減損迴轉利益', '預付款項（增加）減少'],
      dtype='object')
balance:  Index(['index', 'date', '不動產、廠房及設備', '使用權資產', '保留盈餘合計', '債券換股權利證書', '其他應付款',
       '其他應付款項－關係人', '其他應收款淨額', '其他應收款－關係人淨額', '其他權益合計', '其他流動負債', '其他流動資產',
       '其他非流動負債', '其他非流動資產', '合約負債－流動', '存貨', '庫藏股票', '待分配股票股利', '應付公司債',
       '應付帳款', '應付短期票券', '應收帳款淨額', '應收帳款－關係人淨額', '應收票據淨額', '投資性不動產淨額',
       '按攤銷後成本衡量之金融資產－流動', '按攤銷後成本衡量之金融資產－非流動', '採用權益法之投資', '普通股股本', '本期所得稅負債',
       '權益總額', '歸屬於母公司業主之權益合計', '母公司暨子公司所持有之母公司庫藏股股數（單位：股）', '流動負債合計', '流動資產',
       '流動資產合計', '無形資產', '特別股股本', '現金及約當現金', '短期借款', '租賃負債－流動', '租賃負債－非流動',
       '股本合計', '負債總額', '資本公積合計', '資產總額', '透過其他綜合損益按公允價值衡量之金融資產－流動',
       '透過其他綜合損益按公允價值衡量之金融資產－非流動', '透過損益按公允價值衡量之金融負債－流動',
       '透過損益按公允價值衡量之金融資產－流動', '遞延所得稅負債', '避險之金融資產－流動', '長期借款', '非控制權益',
       '非流動負債合計', '非流動資產合計', '預付款項', '預收股款（權益項下）之約當發行股數（單位：股）'],
      dtype='object')
income:  Index(['index', 'date', '不重分類至損益之項目：', '其他利益及損失淨額', '其他收入', '其他綜合損益（淨額）',
       '利息收入', '國外營運機構財務報表換算之兌換差額', '後續可能重分類至損益之項目：', '所得稅費用（利益）合計',
       '採用權益法認列之關聯企業及合資之其他綜合損益之份額-不重分類至損益之項目',
       '採用權益法認列之關聯企業及合資之其他綜合損益之份額-可能重分類至損益之項目', '採用權益法認列之關聯企業及合資損益之份額淨額',
       '推銷費用', '本期綜合損益總額', '母公司業主（淨利∕損）', '母公司業主（綜合損益）', '營業利益（損失）',
       '營業外收入及支出合計', '營業成本合計', '營業收入合計', '營業毛利（毛損）', '營業費用', '營業費用合計',
       '研究發展費用', '確定福利計畫之再衡量數', '稅前淨利（淨損）', '管理費用', '繼續營業單位本期淨利（淨損）',
       '繼續營業單位淨利（淨損）', '與不重分類之項目相關之所得稅', '與可能重分類之項目相關之所得稅', '財務成本淨額',
       '透過其他綜合損益按公允價值衡量之權益工具投資未實現評價損益', '避險工具之損益－不重分類至損益', '非控制權益（淨利∕損）',
       '非控制權益（綜合損益）'],
      dtype='object')

## 三大法人 爬蟲

In [1]:
import sqlite3
import os
import requests
from io import StringIO
import pandas as pd
from datetime import datetime, timedelta
import time

# 爬取資料
def crawl_legal_person(date):
    
    # 將時間物件變成字串：'20180102'
    datestr = date.strftime('%Y%m%d')
    
    # 下載三大法人資料
    try:
        r = requests.get('http://www.tse.com.tw/fund/T86?response=csv&date='+datestr+'&selectType=ALLBUT0999')
        print(datestr, ': successfull')
        df = pd.read_csv(StringIO(r.text), header=1).dropna(how='all', axis=1).dropna(how='any')

        # 刪除逗點
        df = df.astype(str).apply(lambda s: s.str.replace(',',''))

        # 刪除「證券代號」中的「"」和「=」
        df['stock_id'] = df['證券代號'].str.replace('=','').str.replace('"','')

        # 刪除「證券代號」這個欄位
        df = df.drop(['證券代號'], axis=1)

        # 設定index
        df['date'] = date
        df = df.set_index(['stock_id', 'date'])

        # 將dataframe的型態轉成數字
        df = df.apply(lambda s: pd.to_numeric(s, errors='coerce')).dropna(how='all', axis=1)

        conn = sqlite3.connect('legal_person.db')
        df.to_sql('legal_' + datestr, conn, if_exists='replace')
        
        time.sleep(10)
        return df
        
    except:
        print(datestr, ': fail')
        return None

In [3]:
start_date = datetime(2021, 9, 3)
end_date = datetime.now()
delta = timedelta(days=1)
while start_date <= end_date:
    legal_person_table = crawl_legal_person(start_date)
    start_date += delta

20210903 : fail
20210904 : fail
20210905 : fail
20210906 : successfull
20210907 : successfull
20210908 : successfull
20210909 : successfull
20210910 : successfull
20210911 : successfull
20210911 : fail
20210912 : successfull
20210912 : fail
20210913 : successfull
20210914 : successfull
20210914 : fail

In [4]:
start_date = datetime(2021, 7, 1)
end_date = datetime.now()
delta = timedelta(days=1)
conn = sqlite3.connect('legal_person.db')
table_init = pd.read_sql('select * from legal_20210701', conn)
while start_date <= end_date:
    start_date += delta
    date = start_date.strftime("%Y%m%d")
    try:
        table = pd.read_sql('select * from legal_' + date, conn)
        table_init = table_init.append(table)
        print(date, 'append successfully')
    except: 
        pass

20210702 append successfully
20210705 append successfully
20210706 append successfully
20210707 append successfully
20210708 append successfully
20210709 append successfully
20210712 append successfully
20210713 append successfully
20210714 append successfully
20210715 append successfully
20210716 append successfully
20210719 append successfully
20210720 append successfully
20210721 append successfully
20210722 append successfully
20210723 append successfully
20210726 append successfully
20210727 append successfully
20210728 append successfully
20210729 append successfully
20210730 append successfully
20210802 append successfully
20210803 append successfully
20210804 append successfully
20210805 append successfully
20210806 append successfully
20210809 append successfully
20210810 append successfully
20210811 append successfully
20210812 append successfully
20210813 append successfully
20210816 append successfully
20210817 append successfully
20210818 append successfully
20210819 append successfully
20210820 append successfully
20210823 append successfully
20210824 append successfully
20210825 append successfully
20210826 append successfully
20210827 append successfully
20210830 append successfully
20210831 append successfully
20210901 append successfully
20210902 append successfully
20210903 append successfully
20210906 append successfully
20210907 append successfully
20210908 append successfully
20210909 append successfully
20210910 append successfully
20210913 append successfully

In [5]:
table_init = (table_init.set_index(['stock_id', 'date']) / 1000).astype(int)
table_init = table_init.reset_index()
sector = table_init.groupby('stock_id')
conn = sqlite3.connect('legalPerson.db')
for i in table_init['stock_id']:
    new_table = sector.get_group(i)
    new_table.to_sql('legalPerson_' + i, conn, if_exists='replace')
    
    print(i, 'add to sql successfully')

0056 add to sql successfully
00632R add to sql successfully
2027 add to sql successfully
2014 add to sql successfully
00642U add to sql successfully
2456 add to sql successfully
1605 add to sql successfully
2069 add to sql successfully
1609 add to sql successfully
2034 add to sql successfully
2601 add to sql successfully
1714 add to sql successfully
2340 add to sql successfully
00881 add to sql successfully
2023 add to sql successfully
6257 add to sql successfully
2515 add to sql successfully
2610 add to sql successfully
2486 add to sql successfully
2436 add to sql successfully
6282 add to sql successfully
2007 add to sql successfully
1909 add to sql successfully
00676R add to sql successfully
1905 add to sql successfully
1309 add to sql successfully
020022 add to sql successfully
1711 add to sql successfully
6269 add to sql successfully
9105 add to sql successfully
00638R add to sql successfully
00671R add to sql successfully
2383 add to sql successfully
1301 add to sql successfully
2368 add to sql successfully
2020 add to sql successfully
3019 add to sql successfully
0050 add to sql successfully
2614 add to sql successfully
1795 add to sql successfully
1717 add to sql successfully
2476 add to sql successfully
3003 add to sql successfully
1201 add to sql successfully
2351 add to sql successfully
3042 add to sql successfully
020019 add to sql successfully
2330 add to sql successfully
00852L add to sql successfully
1217 add to sql successfully
2032 add to sql successfully
2484 add to sql successfully
00683L add to sql successfully
2104 add to sql successfully
5285 add to sql successfully
2883 add to sql successfully
00708L add to sql successfully
2022 add to sql successfully
1710 add to sql successfully
6271 add to sql successfully
2314 add to sql successfully
1402 add to sql successfully
1455 add to sql successfully
2617 add to sql successfully
2441 add to sql successfully
00693U add to sql successfully
00861 add to sql successfully
9927 add to sql successfully
2455 add to sql successfully
2031 add to sql successfully
2607 add to sql successfully
1325 add to sql successfully
2727 add to sql successfully
1477 add to sql successfully
1308 add to sql successfully
6592 add to sql successfully
8039 add to sql successfully
6224 add to sql successfully
00876 add to sql successfully
1303 add to sql successfully
8150 add to sql successfully
2402 add to sql successfully
1231 add to sql successfully
2915 add to sql successfully
1612 add to sql successfully
2038 add to sql successfully
2347 add to sql successfully
2545 add to sql successfully
2392 add to sql successfully
2393 add to sql successfully
3356 add to sql successfully
3051 add to sql successfully
6177 add to sql successfully
1618 add to sql successfully
2360 add to sql successfully
8404 add to sql successfully
2329 add to sql successfully
5706 add to sql successfully
020018 add to sql successfully
2399 add to sql successfully
2613 add to sql successfully
6285 add to sql successfully
1701 add to sql successfully
8249 add to sql successfully
2102 add to sql successfully
2338 add to sql successfully
6456 add to sql successfully
8103 add to sql successfully
2028 add to sql successfully
2527 add to sql successfully
3413 add to sql successfully
1597 add to sql successfully
1720 add to sql successfully
4739 add to sql successfully
3706 add to sql successfully
00752 add to sql successfully
2489 add to sql successfully
1319 add to sql successfully
1568 add to sql successfully
2440 add to sql successfully
8429 add to sql successfully
2537 add to sql successfully
3504 add to sql successfully
2903 add to sql successfully
2345 add to sql successfully
6239 add to sql successfully
00701 add to sql successfully
2611 add to sql successfully
1229 add to sql successfully
00692 add to sql successfully
2415 add to sql successfully
1316 add to sql successfully
1528 add to sql successfully
2049 add to sql successfully
4526 add to sql successfully
8021 add to sql successfully
1476 add to sql successfully
3661 add to sql successfully
00648R add to sql successfully
2608 add to sql successfully
2723 add to sql successfully
1321 add to sql successfully
00830 add to sql successfully
2464 add to sql successfully
2731 add to sql successfully
2820 add to sql successfully
6672 add to sql successfully
9938 add to sql successfully
3209 add to sql successfully
2421 add to sql successfully
8464 add to sql successfully
1451 add to sql successfully
1789 add to sql successfully
6189 add to sql successfully
5434 add to sql successfully
1731 add to sql successfully
3312 add to sql successfully
1514 add to sql successfully
1456 add to sql successfully
5469 add to sql successfully
00635U add to sql successfully
00654R add to sql successfully
2355 add to sql successfully
2891 add to sql successfully
2107 add to sql successfully
00875 add to sql successfully
2211 add to sql successfully
1603 add to sql successfully
2855 add to sql successfully
9939 add to sql successfully
00738U add to sql successfully
3515 add to sql successfully
1723 add to sql successfully
9933 add to sql successfully
006205 add to sql successfully
3059 add to sql successfully
00717 add to sql successfully
2233 add to sql successfully
00783 add to sql successfully
1524 add to sql successfully
4961 add to sql successfully
3443 add to sql successfully
2836 add to sql successfully
9911 add to sql successfully
00753L add to sql successfully
2206 add to sql successfully
6405 add to sql successfully
1590 add to sql successfully
2707 add to sql successfully
020020 add to sql successfully
3030 add to sql successfully
00651R add to sql successfully
8222 add to sql successfully
1712 add to sql successfully
5521 add to sql successfully
0052 add to sql successfully
0051 add to sql successfully
6215 add to sql successfully
00639 add to sql successfully
5876 add to sql successfully
00643 add to sql successfully
2495 add to sql successfully
00688L add to sql successfully
4927 add to sql successfully
3550 add to sql successfully
2474 add to sql successfully
2015 add to sql successfully
1340 add to sql successfully
1617 add to sql successfully
00678 add to sql successfully
6477 add to sql successfully
1323 add to sql successfully
2430 add to sql successfully
00668 add to sql successfully
1737 add to sql successfully
4722 add to sql successfully
4532 add to sql successfully
3164 add to sql successfully
1220 add to sql successfully
3708 add to sql successfully
4968 add to sql successfully
1727 add to sql successfully
0061 add to sql successfully
2850 add to sql successfully
00646 add to sql successfully
2838 add to sql successfully
00641R add to sql successfully
2816 add to sql successfully
6605 add to sql successfully
6164 add to sql successfully
00728 add to sql successfully
00662 add to sql successfully
2414 add to sql successfully
6235 add to sql successfully
1616 add to sql successfully
2633 add to sql successfully
00650L add to sql successfully
1589 add to sql successfully
00634R add to sql successfully
6196 add to sql successfully
1227 add to sql successfully
6451 add to sql successfully
00771 add to sql successfully
3432 add to sql successfully
912000 add to sql successfully
6277 add to sql successfully
4720 add to sql successfully
1529 add to sql successfully
6591 add to sql successfully
1773 add to sql successfully
2420 add to sql successfully
5234 add to sql successfully
1232 add to sql successfully
00737 add to sql successfully
6214 add to sql successfully
00686R add to sql successfully
5515 add to sql successfully
2911 add to sql successfully
00739 add to sql successfully
6024 add to sql successfully
9925 add to sql successfully
00653L add to sql successfully
2497 add to sql successfully
3050 add to sql successfully
1560 add to sql successfully
2228 add to sql successfully
020012 add to sql successfully
00681R add to sql successfully
911616 add to sql successfully
2530 add to sql successfully
6414 add to sql successfully
1339 add to sql successfully
9946 add to sql successfully
3056 add to sql successfully
3023 add to sql successfully
5288 add to sql successfully
00674R add to sql successfully
00682U add to sql successfully
3605 add to sql successfully
6438 add to sql successfully
1611 add to sql successfully
1338 add to sql successfully
00713 add to sql successfully
9910 add to sql successfully
5534 add to sql successfully
6409 add to sql successfully
1906 add to sql successfully
00647L add to sql successfully
2701 add to sql successfully
2062 add to sql successfully
00735 add to sql successfully
4560 add to sql successfully
1734 add to sql successfully
3040 add to sql successfully
2431 add to sql successfully
2059 add to sql successfully
4148 add to sql successfully
3002 add to sql successfully
00865B add to sql successfully
8473 add to sql successfully
4943 add to sql successfully
006208 add to sql successfully
5215 add to sql successfully
4155 add to sql successfully
1817 add to sql successfully
6112 add to sql successfully
3501 add to sql successfully
00743 add to sql successfully
6491 add to sql successfully
1730 add to sql successfully
3454 add to sql successfully
0055 add to sql successfully
6533 add to sql successfully
1540 add to sql successfully
2702 add to sql successfully
1721 add to sql successfully
910322 add to sql successfully
3518 add to sql successfully
5269 add to sql successfully
006206 add to sql successfully
2236 add to sql successfully
1530 add to sql successfully
2887E add to sql successfully
2427 add to sql successfully
1525 add to sql successfully
1256 add to sql successfully
2241 add to sql successfully
2882B add to sql successfully
6136 add to sql successfully
8462 add to sql successfully
2250 add to sql successfully
006207 add to sql successfully
912398 add to sql successfully
8499 add to sql successfully
02001L add to sql successfully
8940 add to sql successfully
4555 add to sql successfully
5283 add to sql successfully
6166 add to sql successfully
2466 add to sql successfully
1783 add to sql successfully
6768 add to sql successfully
1441 add to sql successfully
9943 add to sql successfully
01002T add to sql successfully
6674 add to sql successfully
2836A add to sql successfully
2546 add to sql successfully
01003T add to sql successfully
2207 add to sql successfully
00661 add to sql successfully
8482 add to sql successfully
2832 add to sql successfully
2849 add to sql successfully
1101B add to sql successfully
0054 add to sql successfully
6715 add to sql successfully
2483 add to sql successfully
2891B add to sql successfully
1732 add to sql successfully
2002A add to sql successfully
1438 add to sql successfully
6666 add to sql successfully
4766 add to sql successfully
911622 add to sql successfully
6117 add to sql successfully
2901 add to sql successfully
1776 add to sql successfully
6128 add to sql successfully
020015 add to sql successfully
6281 add to sql successfully
00702 add to sql successfully
1470 add to sql successfully
00736 add to sql successfully
00762 add to sql successfully
3528 add to sql successfully
9110 add to sql successfully
2881A add to sql successfully
9931 add to sql successfully
2438 add to sql successfully
00636K add to sql successfully
00775B add to sql successfully
006204 add to sql successfully
1341 add to sql successfully
00707R add to sql successfully
00732 add to sql successfully
00690 add to sql successfully
3416 add to sql successfully
9926 add to sql successfully
00668K add to sql successfully
00700 add to sql successfully
2423 add to sql successfully
00657K add to sql successfully
00666R add to sql successfully
00774B add to sql successfully
2882A add to sql successfully
008201 add to sql successfully
4562 add to sql successfully
2424 add to sql successfully
8466 add to sql successfully
6579 add to sql successfully
0053 add to sql successfully
1539 add to sql successfully
0057 add to sql successfully
1506 add to sql successfully
4581 add to sql successfully
8210 add to sql successfully
1726 add to sql successfully
2543 add to sql successfully
5906 add to sql successfully
2936 add to sql successfully
00770 add to sql successfully
1521 add to sql successfully
911608 add to sql successfully
1516 add to sql successfully
6655 add to sql successfully
00657 add to sql successfully
6184 add to sql successfully
6515 add to sql successfully
1786 add to sql successfully
4572 add to sql successfully
911868 add to sql successfully
5871A add to sql successfully
1475 add to sql successfully
6464 add to sql successfully
1436 add to sql successfully
9944 add to sql successfully
9188 add to sql successfully
4764 add to sql successfully
3046 add to sql successfully
4439 add to sql successfully
1342 add to sql successfully
4557 add to sql successfully
6641 add to sql successfully
8442 add to sql successfully
8480 add to sql successfully
8488 add to sql successfully
2397 add to sql successfully
1235 add to sql successfully
8443 add to sql successfully
3593 add to sql successfully
3494 add to sql successfully
2468 add to sql successfully
9136 add to sql successfully
00656R add to sql successfully
00660 add to sql successfully
8072 add to sql successfully
9930 add to sql successfully
5484 add to sql successfully
1724 add to sql successfully
9941A add to sql successfully
5225 add to sql successfully
8427 add to sql successfully
1432 add to sql successfully
4141 add to sql successfully
020011 add to sql successfully
9929 add to sql successfully
1236 add to sql successfully
1541 add to sql successfully
00663L add to sql successfully
2748 add to sql successfully
4952 add to sql successfully
2722 add to sql successfully
3054 add to sql successfully
2482 add to sql successfully
2712 add to sql successfully
6172 add to sql successfully
6581 add to sql successfully
1537 add to sql successfully
6671 add to sql successfully
00665L add to sql successfully
5546 add to sql successfully
00685L add to sql successfully
3705 add to sql successfully
6216 add to sql successfully
4737 add to sql successfully
2739 add to sql successfully
6754 add to sql successfully
00731 add to sql successfully
00689R add to sql successfully
00851 add to sql successfully
9912 add to sql successfully
6165 add to sql successfully
6201 add to sql successfully
2496 add to sql successfully
1233 add to sql successfully
00742 add to sql successfully
8201 add to sql successfully
4551 add to sql successfully
2524 add to sql successfully
6183 add to sql successfully
00703 add to sql successfully
8374 add to sql successfully
1507 add to sql successfully
1707 add to sql successfully
1583 add to sql successfully
1558 add to sql successfully
4540 add to sql successfully
00709 add to sql successfully
2904 add to sql successfully
3043 add to sql successfully
9937 add to sql successfully
6192 add to sql successfully
1808 add to sql successfully
1522 add to sql successfully
2433 add to sql successfully
1449 add to sql successfully
4190 add to sql successfully
020016 add to sql successfully
1725 add to sql successfully
2243 add to sql successfully
1445 add to sql successfully
8481 add to sql successfully
2332 add to sql successfully
00714 add to sql successfully
00711B add to sql successfully
2528 add to sql successfully
6230 add to sql successfully
4438 add to sql successfully
1468 add to sql successfully
2247 add to sql successfully
1439 add to sql successfully
00680L add to sql successfully
3266 add to sql successfully
1535 add to sql successfully
8478 add to sql successfully
2029 add to sql successfully
5007 add to sql successfully
1598 add to sql successfully
6756 add to sql successfully
1234 add to sql successfully
2459 add to sql successfully
1760 add to sql successfully
9906 add to sql successfully
2881B add to sql successfully
8114 add to sql successfully
3665 add to sql successfully
1733 add to sql successfully
8926 add to sql successfully
1626 add to sql successfully
4755 add to sql successfully
4545 add to sql successfully
1423 add to sql successfully
1435 add to sql successfully
2705 add to sql successfully
2897 add to sql successfully
3563 add to sql successfully
8411 add to sql successfully
1203 add to sql successfully
6431 add to sql successfully
2114 add to sql successfully
910861 add to sql successfully
1453 add to sql successfully
4994 add to sql successfully
1446 add to sql successfully
6776 add to sql successfully
3018 add to sql successfully
2538 add to sql successfully
1465 add to sql successfully
1210 add to sql successfully
9905 add to sql successfully
1443 add to sql successfully
3338 add to sql successfully
4999 add to sql successfully
3010 add to sql successfully
1419 add to sql successfully
9908 add to sql successfully
8996 add to sql successfully
4119 add to sql successfully
3617 add to sql successfully
3057 add to sql successfully
3321 add to sql successfully
3311 add to sql successfully
2488 add to sql successfully
3543 add to sql successfully
5203 add to sql successfully
6415 add to sql successfully
6504 add to sql successfully
3669 add to sql successfully
2852 add to sql successfully
1442 add to sql successfully
9924 add to sql successfully
2227 add to sql successfully
4571 add to sql successfully
6139 add to sql successfully
2480 add to sql successfully
6206 add to sql successfully
2912 add to sql successfully
2704 add to sql successfully
1614 add to sql successfully
3038 add to sql successfully
020000 add to sql successfully
3653 add to sql successfully
6781 add to sql successfully
5525 add to sql successfully
2536 add to sql successfully
4164 add to sql successfully
2348 add to sql successfully
6525 add to sql successfully
1582 add to sql successfully
1587 add to sql successfully
3167 add to sql successfully
3004 add to sql successfully
2905 add to sql successfully
3011 add to sql successfully
6133 add to sql successfully
4104 add to sql successfully
4106 add to sql successfully
2908 add to sql successfully
2024 add to sql successfully
2388 add to sql successfully
1437 add to sql successfully
6108 add to sql successfully
4566 add to sql successfully
2616 add to sql successfully
3712 add to sql successfully
3008 add to sql successfully
4912 add to sql successfully
2540 add to sql successfully
1225 add to sql successfully
1218 add to sql successfully
4536 add to sql successfully
3055 add to sql successfully
8131 add to sql successfully
3308 add to sql successfully
3296 add to sql successfully
1312A add to sql successfully
2442 add to sql successfully
2539 add to sql successfully
2358 add to sql successfully
3005 add to sql successfully
5538 add to sql successfully
6541 add to sql successfully
00715L add to sql successfully
1713 add to sql successfully
1416 add to sql successfully
4133 add to sql successfully
4746 add to sql successfully
1805 add to sql successfully
4137 add to sql successfully
02001R add to sql successfully
2417 add to sql successfully
5533 add to sql successfully
1503 add to sql successfully
4108 add to sql successfully
00706L add to sql successfully
5519 add to sql successfully
3557 add to sql successfully
6426 add to sql successfully
2491 add to sql successfully
2359 add to sql successfully
6698 add to sql successfully
2465 add to sql successfully
2450 add to sql successfully
4763 add to sql successfully
2838A add to sql successfully
6598 add to sql successfully
6558 add to sql successfully
2439 add to sql successfully
2101 add to sql successfully
6670 add to sql successfully
2471 add to sql successfully
1473 add to sql successfully
8422 add to sql successfully
1762 add to sql successfully
6115 add to sql successfully
8261 add to sql successfully
9955 add to sql successfully
3622 add to sql successfully
4552 add to sql successfully
6416 add to sql successfully
4930 add to sql successfully
6205 add to sql successfully
4426 add to sql successfully
2444 add to sql successfully
3694 add to sql successfully
4977 add to sql successfully
2115 add to sql successfully
2516 add to sql successfully
00763U add to sql successfully
8463 add to sql successfully
2597 add to sql successfully

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3331, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-5-401279e1fc78>", line 7, in <module>
    new_table.to_sql('legalPerson_' + i, conn, if_exists='replace')
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py", line 2531, in to_sql
    dtype=dtype, method=method)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py", line 460, in to_sql
    chunksize=chunksize, dtype=dtype, method=method)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py", line 1545, in to_sql
    dtype=dtype)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py", line 1291, in __init__
    super(SQLiteTable, self).__init__(*args, **kwargs)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py", line 550, in __init__
    self.table = self._create_table_setup()
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py", line 1328, in _create_table_setup
    self._sql_type_name
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py", line 781, in _get_column_names_and_types
    for i in range(len(self.frame.columns))
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/io/sql.py", line 781, in <listcomp>
    for i in range(len(self.frame.columns))
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py", line 1494, in __getitem__
    return self._getitem_tuple(key)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py", line 2145, in _getitem_tuple
    return self._getitem_lowerdim(tup)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py", line 988, in _getitem_lowerdim
    section = self._getitem_axis(key, axis=i)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py", line 2232, in _getitem_axis
    return self._get_loc(key, axis=axis)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py", line 146, in _get_loc
    return self.obj._ixs(key, axis=axis)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py", line 2882, in _ixs
    values = self._data.iget(i)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/internals/managers.py", line 978, in iget
    ndim=1)],
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/internals/blocks.py", line 235, in make_block_same_class
    klass=self.__class__, dtype=dtype)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/internals/blocks.py", line 3095, in make_block
    return klass(values, ndim=ndim, placement=placement)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/internals/blocks.py", line 80, in __init__
    self.mgr_locs = placement
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/pandas/core/internals/blocks.py", line 202, in mgr_locs
    new_mgr_locs = libinternals.BlockPlacement(new_mgr_locs)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2044, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1151, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 319, in wrapped
    return f(*args, **kwargs)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages/IPython/core/ultratb.py", line 353, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/inspect.py", line 742, in getmodule
    os.path.realpath(f)] = module.__name__
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/posixpath.py", line 395, in realpath
    path, ok = _joinrealpath(filename[:0], filename, {})
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/posixpath.py", line 429, in _joinrealpath
    if not islink(newpath):
  File "/Users/zhongrenguang/opt/anaconda3/lib/python3.7/posixpath.py", line 171, in islink
    st = os.lstat(path)
KeyboardInterrupt

KeyboardInterrupt:

## 融資融券 爬蟲

In [6]:
import sqlite3
import os
import requests
from io import StringIO
import pandas as pd
from datetime import datetime, timedelta
import time

# 爬取資料
def crawl_margin_trading(date):
     # 將時間物件變成字串：'20180102'
    datestr = date.strftime('%Y%m%d')
    conn = sqlite3.connect('margin_trading.db')
    
    try:
        r = requests.get('https://www.twse.com.tw/exchangeReport/MI_MARGN?response=html&date=' + datestr + '&selectType=ALL')
        print(date, ': successful')
        df = pd.read_html(StringIO(r.text))[1]
        df.columns = df.columns.get_level_values(2)
        df = df.drop(['現金償還', '前日餘額', '今日餘額', '限額', '註記', '現券償還'], axis=1)
        # 融資買進, 融資賣出, 融券買進, 融券賣出, 資券互抵
        df.columns = ['stock_id', '股票名稱', 'margin_trade_buy', 'margin_trade_sell', 'short_sell_buy', 'short_sell_sold', 'total_offset']
        df.to_sql('trading_' + datestr, conn, if_exists='replace')
        
        time.sleep(5)
        return df
    except: 
        print(datestr, ': fail')
        return None

In [8]:
# start_date = datetime(2021, 7, 1)
start_date = datetime(2021, 9, 13)
end_date = datetime.now()
delta = timedelta(days=1)
while start_date <= end_date:
    table = crawl_margin_trading(start_date)
    start_date += delta

2021-09-13 00:00:00 : successful
2021-09-14 00:00:00 : successful

In [10]:
start_date = datetime(2021, 7, 1)
end_date = datetime.now()
delta = timedelta(days=1)

conn1 = sqlite3.connect('margin_trading.db')
new_table_init = pd.read_sql('select * from trading_20210701', conn1)
new_table_init = new_table_init.assign(date='2021-07-01')

while start_date < end_date:
    start_date += delta
    date = start_date.strftime("%Y%m%d")
    date_dash = start_date.strftime('%Y-%m-%d')
    try: 
        table = pd.read_sql('select * from trading_' + date, conn1)
        table = table.assign(date=date_dash)
        new_table_init = new_table_init.append(table)
    except: pass

In [11]:
margin_trade_total = new_table_init['margin_trade_buy'] - new_table_init['margin_trade_sell']
short_sell_total = new_table_init['short_sell_sold'] - new_table_init['short_sell_buy']
new_table_init['margin_trade_total'] = margin_trade_total
new_table_init['short_sell_total'] = short_sell_total
new_table_init

,index,stock_id,股票名稱,margin_trade_buy,margin_trade_sell,short_sell_buy,short_sell_sold,total_offset,date,margin_trade_total,short_sell_total
0,0,0050,元大台灣50,27,27,6,1,0,2021-07-01,0,-5
1,1,0051,元大中型100,21,22,0,0,0,2021-07-01,-1,0
2,2,0052,富邦科技,2,4,0,0,0,2021-07-01,-2,0
3,3,0053,元大電子,0,0,0,0,0,2021-07-01,0,0
4,4,0054,元大台商50,0,0,0,0,0,2021-07-01,0,0
5,5,0055,元大MSCI金融,0,1,0,0,0,2021-07-01,-1,0
6,6,0056,元大高股息,979,69,5,0,0,2021-07-01,910,-5
7,7,0057,富邦摩台,0,0,0,0,0,2021-07-01,0,0
8,8,0061,元大寶滬深,13,0,0,0,0,2021-07-01,13,0
9,9,006203,元大MSCI台灣,0,0,0,0,0,2021-07-01,0,0
10,10,006204,永豐臺灣加權,0,1,0,0,0,2021-07-01,-1,0
11,11,006205,富邦上証,0,1,0,0,0,2021-07-01,-1,0
12,12,006206,元大上證50,5,0,0,0,0,2021-07-01,5,0
13,13,006207,FH滬深,2,1,0,0,0,2021-07-01,1,0
14,14,006208,富邦台50,3,1,0,0,0,2021-07-01,2,0
15,15,00631L,元大台灣50正2,229,79,42,18,2,2021-07-01,150,-24
16,16,00632R,元大台灣50反1,17428,7982,30,294,630,2021-07-01,9446,264
17,17,00633L,富邦上証正2,413,210,36,14,181,2021-07-01,203,-22
18,18,00634R,富邦上証反1,101,22,0,0,0,2021-07-01,79,0
19,19,00635U,期元大S&P黃金,22,4,0,0,0,2021-07-01,18,0
20,20,00636,國泰中國A50,0,0,0,0,0,2021-07-01,0,0
21,21,00637L,元大滬深300正2,3793,1829,332,147,1222,2021-07-01,1964,-185
22,22,00638R,元大滬深300反1,0,2018,0,40,0,2021-07-01,-2018,40
23,23,00639,富邦深100,50,6,0,0,0,2021-07-01,44,0
24,24,00640L,富邦日本正2,8,0,0,0,0,2021-07-01,8,0
25,25,00641R,富邦日本反1,14,35,0,0,0,2021-07-01,-21,0
26,26,00642U,期元大S&P石油,129,391,0,50,0,2021-07-01,-262,50
27,27,00643,群益深証中小,26,3,0,0,0,2021-07-01,23,0
28,28,00645,富邦日本,0,1,0,0,0,2021-07-01,-1,0
29,29,00646,元大S&P500,0,0,0,0,0,2021-07-01,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1044,1044,9911,櫻花,0,2,0,0,0,2021-09-13,-2,0
1045,1045,9912,偉聯,0,1,0,0,0,2021-09-13,-1,0
1046,1046,9914,美利達,7,18,5,4,0,2021-09-13,-11,-1
1047,1047,9917,中保科,13,1,0,0,0,2021-09-13,12,0
1048,1048,9918,欣天然,2,0,0,0,0,2021-09-13,2,0
1049,1049,9919,康那香,106,181,227,35,13,2021-09-13,-75,-192
1050,1050,9921,巨大,13,2,1,0,0,2021-09-13,11,-1
1051,1051,9924,福興,0,0,0,0,0,2021-09-13,0,0
1052,1052,9925,新保,1,0,0,0,0,2021-09-13,1,0
1053,1053,9926,新海,0,0,0,0,0,2021-09-13,0,0
1054,1054,9927,泰銘,37,12,0,0,0,2021-09-13,25,0
1055,1055,9928,中視,0,0,0,0,0,2021-09-13,0,0
1056,1056,9929,秋雨,3,0,0,0,0,2021-09-13,3,0
1057,1057,9930,中聯資源,0,0,0,0,0,2021-09-13,0,0
1058,1058,9931,欣高,2,0,0,0,0,2021-09-13,2,0
1059,1059,9933,中鼎,74,18,0,3,0,2021-09-13,56,3
1060,1060,9934,成霖,0,0,0,0,0,2021-09-13,0,0
1061,1061,9935,慶豐富,4,20,0,0,0,2021-09-13,-16,0
1062,1062,9937,全國,0,0,0,0,0,2021-09-13,0,0
1063,1063,9938,百和,130,72,0,1,0,2021-09-13,58,1
1064,1064,9939,宏全,42,106,0,1,0,2021-09-13,-64,1
1065,1065,9940,信義,6,53,0,0,0,2021-09-13,-47,0
1066,1066,9941,裕融,83,18,0,0,0,2021-09-13,65,0
1067,1067,9942,茂順,1,16,0,0,0,2021-09-13,-15,0
1068,1068,9943,好樂迪,3,0,0,0,0,2021-09-13,3,0
1069,1069,9944,新麗,19,22,0,0,0,2021-09-13,-3,0
1070,1070,9945,潤泰新,1881,1601,90,61,76,2021-09-13,280,-29
1071,1071,9946,三發地產,39,24,0,0,0,2021-09-13,15,0
1072,1072,9955,佳龍,0,7,0,0,0,2021-09-13,-7,0
1073,1073,9958,世紀鋼,132,135,36,5,0,2021-09-13,-3,-31

In [12]:
sector = new_table_init.groupby('stock_id')
conn2 = sqlite3.connect('marginTrading.db')
for i in new_table_init['stock_id']:
    new_table1 = sector.get_group(i)
    new_table1 = new_table1.reset_index().drop(columns=['index', 'level_0'])
    new_table1.to_sql('marginTrading_' + i, conn2, if_exists='replace')
    print(i, 'add to sql successfully')
    
new_table1

0050 add to sql successfully
0051 add to sql successfully
0052 add to sql successfully
0053 add to sql successfully
0054 add to sql successfully
0055 add to sql successfully
0056 add to sql successfully
0057 add to sql successfully
0061 add to sql successfully
006203 add to sql successfully
006204 add to sql successfully
006205 add to sql successfully
006206 add to sql successfully
006207 add to sql successfully
006208 add to sql successfully
00631L add to sql successfully
00632R add to sql successfully
00633L add to sql successfully
00634R add to sql successfully
00635U add to sql successfully
00636 add to sql successfully
00637L add to sql successfully
00638R add to sql successfully
00639 add to sql successfully
00640L add to sql successfully
00641R add to sql successfully
00642U add to sql successfully
00643 add to sql successfully
00645 add to sql successfully
00646 add to sql successfully
00647L add to sql successfully
00648R add to sql successfully
00650L add to sql successfully
00651R add to sql successfully
00652 add to sql successfully
00653L add to sql successfully
00654R add to sql successfully
00655L add to sql successfully
00656R add to sql successfully
00657 add to sql successfully
00660 add to sql successfully
00661 add to sql successfully
00662 add to sql successfully
00663L add to sql successfully
00664R add to sql successfully
00665L add to sql successfully
00666R add to sql successfully
00668 add to sql successfully
00669R add to sql successfully
00670L add to sql successfully
00671R add to sql successfully
00673R add to sql successfully
00674R add to sql successfully
00675L add to sql successfully
00676R add to sql successfully
00678 add to sql successfully
00680L add to sql successfully
00681R add to sql successfully
00682U add to sql successfully
00683L add to sql successfully
00684R add to sql successfully
00685L add to sql successfully
00686R add to sql successfully
00688L add to sql successfully
00689R add to sql successfully
00690 add to sql successfully
00692 add to sql successfully
00693U add to sql successfully
00700 add to sql successfully
00701 add to sql successfully
00702 add to sql successfully
00703 add to sql successfully
00706L add to sql successfully
00707R add to sql successfully
00708L add to sql successfully
00709 add to sql successfully
00710B add to sql successfully
00711B add to sql successfully
00712 add to sql successfully
00713 add to sql successfully
00714 add to sql successfully
00715L add to sql successfully
00717 add to sql successfully
00728 add to sql successfully
00730 add to sql successfully
00731 add to sql successfully
00732 add to sql successfully
00733 add to sql successfully
00735 add to sql successfully
00736 add to sql successfully
00737 add to sql successfully
00738U add to sql successfully
00739 add to sql successfully
00742 add to sql successfully
00743 add to sql successfully
00752 add to sql successfully
00753L add to sql successfully
00757 add to sql successfully
00762 add to sql successfully
00763U add to sql successfully
00770 add to sql successfully
00771 add to sql successfully
00774B add to sql successfully
00775B add to sql successfully
00783 add to sql successfully
008201 add to sql successfully
00830 add to sql successfully
00850 add to sql successfully
00851 add to sql successfully
00852L add to sql successfully
00861 add to sql successfully
00865B add to sql successfully
00875 add to sql successfully
00876 add to sql successfully
00878 add to sql successfully
00881 add to sql successfully
00882 add to sql successfully
00885 add to sql successfully
00891 add to sql successfully
00892 add to sql successfully
00893 add to sql successfully
1101 add to sql successfully
1102 add to sql successfully
1103 add to sql successfully
1104 add to sql successfully
1108 add to sql successfully
1109 add to sql successfully
1110 add to sql successfully
1201 add to sql successfully
1203 add to sql successfully
1210 add to sql successfully
1213 add to sql successfully
1215 add to sql successfully
1216 add to sql successfully
1217 add to sql successfully
1218 add to sql successfully
1219 add to sql successfully
1220 add to sql successfully
1225 add to sql successfully
1227 add to sql successfully
1229 add to sql successfully
1231 add to sql successfully
1232 add to sql successfully
1233 add to sql successfully
1234 add to sql successfully
1235 add to sql successfully
1236 add to sql successfully
1256 add to sql successfully
1301 add to sql successfully
1303 add to sql successfully
1304 add to sql successfully
1305 add to sql successfully
1307 add to sql successfully
1308 add to sql successfully
1309 add to sql successfully
1310 add to sql successfully
1312 add to sql successfully
1313 add to sql successfully
1314 add to sql successfully
1315 add to sql successfully
1316 add to sql successfully
1319 add to sql successfully
1321 add to sql successfully
1323 add to sql successfully
1324 add to sql successfully
1325 add to sql successfully
1326 add to sql successfully
1337 add to sql successfully
1338 add to sql successfully
1339 add to sql successfully
1340 add to sql successfully
1342 add to sql successfully
1402 add to sql successfully
1409 add to sql successfully
1410 add to sql successfully
1413 add to sql successfully
1414 add to sql successfully
1416 add to sql successfully
1417 add to sql successfully
1418 add to sql successfully
1419 add to sql successfully
1423 add to sql successfully
1432 add to sql successfully
1434 add to sql successfully
1435 add to sql successfully
1436 add to sql successfully
1437 add to sql successfully
1438 add to sql successfully
1439 add to sql successfully
1440 add to sql successfully
1441 add to sql successfully
1442 add to sql successfully
1443 add to sql successfully
1444 add to sql successfully
1445 add to sql successfully
1446 add to sql successfully
1447 add to sql successfully
1449 add to sql successfully
1451 add to sql successfully
1452 add to sql successfully
1453 add to sql successfully
1454 add to sql successfully
1455 add to sql successfully
1456 add to sql successfully
1457 add to sql successfully
1459 add to sql successfully
1460 add to sql successfully
1463 add to sql successfully
1464 add to sql successfully
1465 add to sql successfully
1466 add to sql successfully
1467 add to sql successfully
1468 add to sql successfully
1470 add to sql successfully
1471 add to sql successfully
1472 add to sql successfully
1473 add to sql successfully
1474 add to sql successfully
1475 add to sql successfully
1476 add to sql successfully
1477 add to sql successfully
1503 add to sql successfully
1504 add to sql successfully
1506 add to sql successfully
1507 add to sql successfully
1512 add to sql successfully
1513 add to sql successfully
1514 add to sql successfully
1515 add to sql successfully
1516 add to sql successfully
1517 add to sql successfully
1519 add to sql successfully
1521 add to sql successfully
1522 add to sql successfully
1524 add to sql successfully
1525 add to sql successfully
1526 add to sql successfully
1527 add to sql successfully
1528 add to sql successfully
1529 add to sql successfully
1530 add to sql successfully
1531 add to sql successfully
1532 add to sql successfully
1533 add to sql successfully
1535 add to sql successfully
1536 add to sql successfully
1537 add to sql successfully
1538 add to sql successfully
1539 add to sql successfully
1540 add to sql successfully
1541 add to sql successfully
1558 add to sql successfully
1560 add to sql successfully
1568 add to sql successfully
1582 add to sql successfully
1583 add to sql successfully
1587 add to sql successfully
1589 add to sql successfully
1590 add to sql successfully
1592 add to sql successfully
1597 add to sql successfully
1598 add to sql successfully
1603 add to sql successfully
1604 add to sql successfully
1605 add to sql successfully
1608 add to sql successfully
1609 add to sql successfully
1611 add to sql successfully
1612 add to sql successfully
1614 add to sql successfully
1615 add to sql successfully
1616 add to sql successfully
1617 add to sql successfully
1618 add to sql successfully
1626 add to sql successfully
1701 add to sql successfully
1702 add to sql successfully
1707 add to sql successfully
1708 add to sql successfully
1709 add to sql successfully
1710 add to sql successfully
1711 add to sql successfully
1712 add to sql successfully
1713 add to sql successfully
1714 add to sql successfully
1717 add to sql successfully
1718 add to sql successfully
1720 add to sql successfully
1721 add to sql successfully
1722 add to sql successfully
1723 add to sql successfully
1724 add to sql successfully
1725 add to sql successfully
1726 add to sql successfully
1727 add to sql successfully
1730 add to sql successfully
1731 add to sql successfully
1732 add to sql successfully
1733 add to sql successfully
1734 add to sql successfully
1735 add to sql successfully
1736 add to sql successfully
1737 add to sql successfully
1760 add to sql successfully
1762 add to sql successfully
1773 add to sql successfully
1776 add to sql successfully
1783 add to sql successfully
1786 add to sql successfully
1789 add to sql successfully
1795 add to sql successfully
1802 add to sql successfully
1805 add to sql successfully
1806 add to sql successfully
1808 add to sql successfully
1809 add to sql successfully
1810 add to sql successfully
1817 add to sql successfully
1903 add to sql successfully
1904 add to sql successfully
1905 add to sql successfully
1906 add to sql successfully
1907 add to sql successfully
1909 add to sql successfully
2002 add to sql successfully
2006 add to sql successfully
2007 add to sql successfully
2008 add to sql successfully
2009 add to sql successfully
2010 add to sql successfully
2012 add to sql successfully
2013 add to sql successfully
2014 add to sql successfully
2015 add to sql successfully
2017 add to sql successfully
2020 add to sql successfully
2022 add to sql successfully
2023 add to sql successfully
2024 add to sql successfully
2025 add to sql successfully
2027 add to sql successfully
2028 add to sql successfully
2029 add to sql successfully
2030 add to sql successfully
2031 add to sql successfully
2032 add to sql successfully
2033 add to sql successfully
2034 add to sql successfully
2038 add to sql successfully
2049 add to sql successfully
2059 add to sql successfully
2062 add to sql successfully
2069 add to sql successfully
2101 add to sql successfully
2102 add to sql successfully
2103 add to sql successfully
2104 add to sql successfully
2105 add to sql successfully
2106 add to sql successfully
2107 add to sql successfully
2108 add to sql successfully
2109 add to sql successfully
2114 add to sql successfully
2115 add to sql successfully
2201 add to sql successfully
2204 add to sql successfully
2206 add to sql successfully
2207 add to sql successfully
2208 add to sql successfully
2228 add to sql successfully
2231 add to sql successfully
2233 add to sql successfully
2236 add to sql successfully
2239 add to sql successfully
2241 add to sql successfully
2243 add to sql successfully
2247 add to sql successfully
2301 add to sql successfully
2302 add to sql successfully
2303 add to sql successfully
2305 add to sql successfully
2308 add to sql successfully
2312 add to sql successfully
2313 add to sql successfully
2314 add to sql successfully
2316 add to sql successfully
2317 add to sql successfully
2321 add to sql successfully
2323 add to sql successfully
2324 add to sql successfully
2327 add to sql successfully
2328 add to sql successfully
2329 add to sql successfully
2330 add to sql successfully
2331 add to sql successfully
2332 add to sql successfully
2337 add to sql successfully
2338 add to sql successfully
2340 add to sql successfully
2342 add to sql successfully
2344 add to sql successfully
2345 add to sql successfully
2347 add to sql successfully
2348 add to sql successfully
2349 add to sql successfully
2351 add to sql successfully
2352 add to sql successfully
2353 add to sql successfully
2354 add to sql successfully
2355 add to sql successfully
2356 add to sql successfully
2357 add to sql successfully
2358 add to sql successfully
2359 add to sql successfully
2360 add to sql successfully
2362 add to sql successfully
2363 add to sql successfully
2364 add to sql successfully
2365 add to sql successfully
2367 add to sql successfully
2368 add to sql successfully
2369 add to sql successfully
2371 add to sql successfully
2373 add to sql successfully
2374 add to sql successfully
2375 add to sql successfully
2376 add to sql successfully
2377 add to sql successfully
2379 add to sql successfully
2380 add to sql successfully
2382 add to sql successfully
2383 add to sql successfully
2385 add to sql successfully
2387 add to sql successfully
2388 add to sql successfully
2390 add to sql successfully
2392 add to sql successfully
2393 add to sql successfully
2395 add to sql successfully
2397 add to sql successfully
2399 add to sql successfully
2401 add to sql successfully
2402 add to sql successfully
2404 add to sql successfully
2405 add to sql successfully
2406 add to sql successfully
2408 add to sql successfully
2409 add to sql successfully
2412 add to sql successfully
2413 add to sql successfully
2414 add to sql successfully
2415 add to sql successfully
2417 add to sql successfully
2419 add to sql successfully
2420 add to sql successfully
2421 add to sql successfully
2423 add to sql successfully
2424 add to sql successfully
2425 add to sql successfully
2426 add to sql successfully
2427 add to sql successfully
2428 add to sql successfully
2429 add to sql successfully
2430 add to sql successfully
2431 add to sql successfully
2433 add to sql successfully
2434 add to sql successfully
2436 add to sql successfully
2438 add to sql successfully
2439 add to sql successfully
2440 add to sql successfully
2441 add to sql successfully
2442 add to sql successfully
2443 add to sql successfully
2444 add to sql successfully
2449 add to sql successfully
2450 add to sql successfully
2451 add to sql successfully
2453 add to sql successfully
2454 add to sql successfully
2455 add to sql successfully
2456 add to sql successfully
2457 add to sql successfully
2458 add to sql successfully
2459 add to sql successfully
2460 add to sql successfully
2461 add to sql successfully
2462 add to sql successfully
2464 add to sql successfully
2465 add to sql successfully
2466 add to sql successfully
2467 add to sql successfully
2468 add to sql successfully
2471 add to sql successfully
2472 add to sql successfully
2474 add to sql successfully
2476 add to sql successfully
2477 add to sql successfully
2478 add to sql successfully
2480 add to sql successfully
2481 add to sql successfully
2482 add to sql successfully
2483 add to sql successfully
2484 add to sql successfully
2485 add to sql successfully
2486 add to sql successfully
2488 add to sql successfully
2489 add to sql successfully
2491 add to sql successfully
2492 add to sql successfully
2493 add to sql successfully
2495 add to sql successfully
2496 add to sql successfully
2497 add to sql successfully
2498 add to sql successfully
2501 add to sql successfully
2504 add to sql successfully
2505 add to sql successfully
2506 add to sql successfully
2509 add to sql successfully
2511 add to sql successfully
2514 add to sql successfully
2515 add to sql successfully
2516 add to sql successfully
2520 add to sql successfully
2524 add to sql successfully
2527 add to sql successfully
2528 add to sql successfully
2530 add to sql successfully
2534 add to sql successfully
2535 add to sql successfully
2536 add to sql successfully
2537 add to sql successfully
2538 add to sql successfully
2539 add to sql successfully
2540 add to sql successfully
2542 add to sql successfully
2543 add to sql successfully
2545 add to sql successfully
2546 add to sql successfully
2547 add to sql successfully
2548 add to sql successfully
2597 add to sql successfully
2601 add to sql successfully
2603 add to sql successfully
2605 add to sql successfully
2606 add to sql successfully
2607 add to sql successfully
2608 add to sql successfully
2609 add to sql successfully
2610 add to sql successfully
2611 add to sql successfully
2612 add to sql successfully
2613 add to sql successfully
2614 add to sql successfully
2615 add to sql successfully
2616 add to sql successfully
2617 add to sql successfully
2618 add to sql successfully
2633 add to sql successfully
2634 add to sql successfully
2636 add to sql successfully
2637 add to sql successfully
2642 add to sql successfully
2701 add to sql successfully
2702 add to sql successfully
2704 add to sql successfully
2705 add to sql successfully
2706 add to sql successfully
2707 add to sql successfully
2712 add to sql successfully
2722 add to sql successfully
2723 add to sql successfully
2727 add to sql successfully
2731 add to sql successfully
2739 add to sql successfully
2748 add to sql successfully
2801 add to sql successfully
2809 add to sql successfully
2812 add to sql successfully
2816 add to sql successfully
2820 add to sql successfully
2823 add to sql successfully
2832 add to sql successfully
2834 add to sql successfully
2836 add to sql successfully
2838 add to sql successfully
2841 add to sql successfully
2845 add to sql successfully
2849 add to sql successfully
2850 add to sql successfully
2851 add to sql successfully
2852 add to sql successfully
2855 add to sql successfully
2867 add to sql successfully
2880 add to sql successfully
2881 add to sql successfully
2882 add to sql successfully
2883 add to sql successfully
2884 add to sql successfully
2885 add to sql successfully
2886 add to sql successfully
2887 add to sql successfully
2888 add to sql successfully
2889 add to sql successfully
2890 add to sql successfully
2891 add to sql successfully
2892 add to sql successfully
2897 add to sql successfully
2901 add to sql successfully
2903 add to sql successfully
2904 add to sql successfully
2905 add to sql successfully
2906 add to sql successfully
2908 add to sql successfully
2910 add to sql successfully
2911 add to sql successfully
2912 add to sql successfully
2913 add to sql successfully
2915 add to sql successfully
2929 add to sql successfully
2936 add to sql successfully
2939 add to sql successfully
3002 add to sql successfully
3003 add to sql successfully
3004 add to sql successfully
3005 add to sql successfully
3006 add to sql successfully
3008 add to sql successfully
3010 add to sql successfully
3011 add to sql successfully
3013 add to sql successfully
3014 add to sql successfully
3015 add to sql successfully
3016 add to sql successfully
3017 add to sql successfully
3018 add to sql successfully
3019 add to sql successfully
3021 add to sql successfully
3022 add to sql successfully
3023 add to sql successfully
3024 add to sql successfully
3025 add to sql successfully
3026 add to sql successfully
3027 add to sql successfully
3028 add to sql successfully
3029 add to sql successfully
3030 add to sql successfully
3031 add to sql successfully
3032 add to sql successfully
3033 add to sql successfully
3034 add to sql successfully
3035 add to sql successfully
3036 add to sql successfully
3037 add to sql successfully
3038 add to sql successfully
3040 add to sql successfully
3041 add to sql successfully
3042 add to sql successfully
3043 add to sql successfully
3044 add to sql successfully
3045 add to sql successfully
3046 add to sql successfully
3047 add to sql successfully
3048 add to sql successfully
3049 add to sql successfully
3050 add to sql successfully
3051 add to sql successfully
3052 add to sql successfully
3054 add to sql successfully
3055 add to sql successfully
3056 add to sql successfully
3057 add to sql successfully
3058 add to sql successfully
3059 add to sql successfully
3060 add to sql successfully
3062 add to sql successfully
3090 add to sql successfully
3092 add to sql successfully
3094 add to sql successfully
3130 add to sql successfully
3149 add to sql successfully
3164 add to sql successfully

KeyboardInterrupt:

## 即時股價資訊

In [289]:
from IPython.display import display, clear_output
from urllib.request import urlopen
import pandas as pd
import datetime
import requests
import sched
import time
import json

s = sched.scheduler(time.time, time.sleep)

In [290]:
def tableColor(val):
    if val > 0:
        color = 'red'
    elif val < 0:
        color = 'green'
    else:
        color = 'white'
    return 'color: %s' % color

In [308]:
def stock_crawler(targets):
    
    clear_output(wait=True)
    
    # 組成stock_list
    stock_list = '|'.join('tse_{}.tw'.format(target) for target in targets) 
    
    #　query data
    query_url = "http://mis.twse.com.tw/stock/api/getStockInfo.jsp?ex_ch="+ stock_list
    data = json.loads(urlopen(query_url).read())

    # 過濾出有用到的欄位
    columns = ['c','n','z','tv','v','o','h','l','y', 'u', 'w', 'a', 'f', 'b', 'g']
    df = pd.DataFrame(data['msgArray'], columns=columns)
    df.columns = ['股票代號','公司簡稱','成交價','單量','總量','開盤價','最高價','最低價','昨收價', '漲停價', '跌停價', '賣出最佳五檔價', '賣出最佳五檔量', '買進最佳五檔價', '買進最佳五檔量']
    df.insert(9, "漲跌百分比", 0.0) 
    
    # 新增漲跌百分比
    for x in range(len(df.index)):
        if df['成交價'].iloc[x] != '-':
            df.iloc[x, [2,3,4,5,6,7,8]] = df.iloc[x, [2,3,4,5,6,7,8]].astype(float)
            df['漲跌百分比'].iloc[x] = (df['成交價'].iloc[x] - df['昨收價'].iloc[x])/df['昨收價'].iloc[x] * 100
    
    # 紀錄更新時間
    time = datetime.datetime.now()  
    print("更新時間:" + str(time.hour)+":"+str(time.minute))
    
    # show table
    df = df.style.applymap(tableColor, subset=['漲跌百分比'])
    display(df)
    
    start_time = datetime.datetime.strptime(str(time.date())+'9:30', '%Y-%m-%d%H:%M')
    end_time =  datetime.datetime.strptime(str(time.date())+'13:30', '%Y-%m-%d%H:%M')
    
    # 判斷爬蟲終止條件
    if time >= start_time and time <= end_time:
        s.enter(30, 0, stock_crawler, argument=(targets,))

In [309]:
# 欲爬取的股票代碼
stock_list = ['2330']

# 每秒定時器
s.enter(30, 0, stock_crawler, argument=(stock_list,))
s.run()

HTTPError: HTTP Error 400: Bad Request

In [272]:
url = "https://mis.twse.com.tw/stock/api/getStockInfo.jsp?ex_ch=tse_2330.tw"
res = requests.get(url)
res.json()

{'msgArray': [{'tv': '2371',
   'ps': '2333',
   'pz': '623.0000',
   'bp': '0',
   'fv': '124',
   'oa': '624.0000',
   'ob': '623.0000',
   'a': '624.0000_625.0000_626.0000_627.0000_628.0000_',
   'b': '623.0000_622.0000_621.0000_620.0000_619.0000_',
   'c': '2330',
   'd': '20210907',
   'ch': '2330.tw',
   'ot': '14:30:00',
   'tlong': '1630996200000',
   'f': '15_97_92_155_374_',
   'ip': '0',
   'g': '901_503_591_1111_431_',
   'mt': '000000',
   'ov': '50056',
   'h': '634.0000',
   'i': '24',
   'it': '12',
   'oz': '623.0000',
   'l': '623.0000',
   'n': '台積電',
   'o': '634.0000',
   'p': '0',
   'ex': 'tse',
   's': '2371',
   't': '13:30:00',
   'u': '694.0000',
   'v': '26352',
   'w': '568.0000',
   'nf': '台灣積體電路製造股份有限公司',
   'y': '631.0000',
   'z': '623.0000',
   'ts': '0'}],
 'referer': '',
 'userDelay': 5000,
 'rtcode': '0000',
 'queryTime': {'sysDate': '20210907',
  'stockInfoItem': 2077,
  'stockInfo': 347342,
  'sessionStr': 'UserSession',
  'sysTime': '16:11:14',
  'showChart': False,
  'sessionFromTime': 1630996278443,
  'sessionLatestTime': 1630996278443},
 'rtmessage': 'OK',
 'exKey': 'if_tse_2330.tw_zh-tw.null',
 'cachedAlive': 4746}

## FinMind

In [7]:
import requests
url = "https://api.finmindtrade.com/api/v4/login"
parload = {
    "user_id": "renguangz",
    "password": "abc66994",
}
data = requests.post(url, data=parload)
data = data.json()
print(data)

{'msg': 'success', 'status': 200, 'token': 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyMS0wOC0wOCAyMToyMDoxOCIsInVzZXJfaWQiOiJyZW5ndWFuZ3oiLCJpcCI6IjIxOS42OC40OS4xMzcifQ.sigS5kh8Yv6t1hNXc70zXE7YCviTaMpkL0PSz5k0nG4'}

## Shioaji 即時股價

In [8]:
!pip3 install shioaji

Collecting shioaji
  Downloading shioaji-0.3.2.dev4-cp37-cp37m-macosx_10_14_x86_64.whl (847 kB)
     |████████████████████████████████| 847 kB 1.1 MB/s eta 0:00:01
Collecting sentry-sdk==0.14.1
  Downloading sentry_sdk-0.14.1-py2.py3-none-any.whl (93 kB)
     |████████████████████████████████| 93 kB 1.5 MB/s eta 0:00:01
Requirement already satisfied: requests==2.22.0 in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from shioaji) (2.22.0)
Collecting pysolace==0.9.8
  Downloading pysolace-0.9.8-cp37-cp37m-macosx_10_14_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 2.4 MB/s eta 0:00:01
Collecting importlib-metadata==1.6.0
  Downloading importlib_metadata-1.6.0-py2.py3-none-any.whl (30 kB)
Collecting pydantic==1.0.0
  Downloading pydantic-1.0-py36.py37.py38-none-any.whl (73 kB)
     |████████████████████████████████| 73 kB 2.7 MB/s eta 0:00:011
Collecting loguru==0.4.1
  Downloading loguru-0.4.1-py3-none-any.whl (54 kB)
     |████████████████████████████████| 54 kB 1.4 MB/s eta 0:00:01
Collecting xxhash==2.0.0
  Downloading xxhash-2.0.0-cp37-cp37m-macosx_10_6_intel.whl (68 kB)
     |████████████████████████████████| 68 kB 2.1 MB/s eta 0:00:011
Requirement already satisfied: certifi in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from sentry-sdk==0.14.1->shioaji) (2019.11.28)
Requirement already satisfied: urllib3>=1.10.0 in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from sentry-sdk==0.14.1->shioaji) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from requests==2.22.0->shioaji) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from requests==2.22.0->shioaji) (3.0.4)
Collecting orjson==3.3.1
  Downloading orjson-3.3.1-cp37-cp37m-macosx_10_7_x86_64.whl (191 kB)
     |████████████████████████████████| 191 kB 4.1 MB/s eta 0:00:01
Requirement already satisfied: msgpack in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from pysolace==0.9.8->shioaji) (0.6.1)
Requirement already satisfied: zipp>=0.5 in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata==1.6.0->shioaji) (2.2.0)
Installing collected packages: sentry-sdk, orjson, loguru, pysolace, importlib-metadata, pydantic, xxhash, shioaji
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 1.5.0
    Uninstalling importlib-metadata-1.5.0:
      Successfully uninstalled importlib-metadata-1.5.0
ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

pytest-astropy 0.8.0 requires pytest-cov>=2.0, which is not installed.
pytest-astropy 0.8.0 requires pytest-filter-subpackage>=0.1, which is not installed.
Successfully installed importlib-metadata-1.6.0 loguru-0.4.1 orjson-3.3.1 pydantic-1.0 pysolace-0.9.8 sentry-sdk-0.14.1 shioaji-0.3.2.dev4 xxhash-2.0.0
WARNING: You are using pip version 20.2.2; however, version 21.2.3 is available.
You should consider upgrading via the '/Users/zhongrenguang/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [1]:
def shioaji(stockid):
    # 匯入 Shioaji 套件
    import shioaji as sj

    # 建立 Shioaji api 物件
    api = sj.Shioaji(simulation=True)

    # 登入帳號
    api.login(
        person_id="PAPIUSER01", 
        passwd="2222", 
        contracts_cb=lambda security_type: print(f"{repr(security_type)} fetch done.")
    )
    
    api.quote.subscribe(api.Contracts.Stocks[str(stockid)], quote_type='tick')
    import time 
    time.sleep(3)
    
def unsubscribe_shioaji(stockid):
    import shioaji as sj

    # 建立 Shioaji api 物件
    api = sj.Shioaji(simulation=True)

    # 登入帳號
    api.login(
        person_id="PAPIUSER01", 
        passwd="2222", 
        contracts_cb=lambda security_type: print(f"{repr(security_type)} fetch done.")
    )
    api.quote.unsubscribe(api.Contracts.Stocks[str(stockid)], quote_type='tick')

In [3]:
# shioaji(1101)
unsubscribe_shioaji(1101)

Response Code: 0 | Event Code: 0 | Info: host '218.32.76.102:80', hostname '218.32.76.102:80' IP 218.32.76.102:80 (host 1 of 1) (host connection attempt 1 of 1) (total connection attempt 1 of 1) | Event: Session up
<SecurityType.Index: 'IND'> fetch done.
<SecurityType.Future: 'FUT'> fetch done.
<SecurityType.Stock: 'STK'> fetch done.
Response Code: 200 | Event Code: 16 | Info: Subscription Not Found - Topic 'MKT/*/TSE/1101' Unsubscribe: Response code: '400'; Flags: 'c';  | Event: Subscribe or Unsubscribe ok
<SecurityType.Option: 'OPT'> fetch done.

## 富果

In [5]:
!pip3 install fugle-realtime

Collecting fugle-realtime
  Downloading fugle_realtime-0.2.9-py3-none-any.whl (5.1 kB)
Collecting six==1.12.0
  Downloading six-1.12.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: requests==2.22.0 in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from fugle-realtime) (2.22.0)
Collecting python-dateutil==2.8.0
  Downloading python_dateutil-2.8.0-py2.py3-none-any.whl (226 kB)
     |████████████████████████████████| 226 kB 1.7 MB/s eta 0:00:01
Collecting pytz==2019.1
  Downloading pytz-2019.1-py2.py3-none-any.whl (510 kB)
     |████████████████████████████████| 510 kB 12.5 MB/s eta 0:00:01
Requirement already satisfied: chardet==3.0.4 in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from fugle-realtime) (3.0.4)
Collecting urllib3==1.25.3
  Downloading urllib3-1.25.3-py2.py3-none-any.whl (150 kB)
     |████████████████████████████████| 150 kB 9.3 MB/s eta 0:00:01
Collecting certifi==2019.3.9
  Downloading certifi-2019.3.9-py2.py3-none-any.whl (158 kB)
     |████████████████████████████████| 158 kB 10.4 MB/s eta 0:00:01
Requirement already satisfied: idna==2.8 in /Users/zhongrenguang/opt/anaconda3/lib/python3.7/site-packages (from fugle-realtime) (2.8)
Collecting numpy==1.16.4
  Downloading numpy-1.16.4-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (13.9 MB)
     |████████████████████████████████| 13.9 MB 1.7 MB/s eta 0:00:01
Collecting pandas==0.24.2
  Downloading pandas-0.24.2-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (15.9 MB)
     |████████████████████████████████| 15.9 MB 2.4 MB/s eta 0:00:01
Installing collected packages: six, python-dateutil, pytz, urllib3, certifi, numpy, pandas, fugle-realtime
  Attempting uninstall: six
    Found existing installation: six 1.14.0
    Uninstalling six-1.14.0:
      Successfully uninstalled six-1.14.0
  Attempting uninstall: python-dateutil
    Found existing installation: python-dateutil 2.8.1
    Uninstalling python-dateutil-2.8.1:
      Successfully uninstalled python-dateutil-2.8.1
  Attempting uninstall: pytz
    Found existing installation: pytz 2019.3
    Uninstalling pytz-2019.3:
      Successfully uninstalled pytz-2019.3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.25.8
    Uninstalling urllib3-1.25.8:
      Successfully uninstalled urllib3-1.25.8
  Attempting uninstall: certifi
    Found existing installation: certifi 2019.11.28
    Uninstalling certifi-2019.11.28:
      Successfully uninstalled certifi-2019.11.28
  Attempting uninstall: numpy
    Found existing installation: numpy 1.18.1
    Uninstalling numpy-1.18.1:
      Successfully uninstalled numpy-1.18.1
  Attempting uninstall: pandas
    Found existing installation: pandas 1.0.1
    Uninstalling pandas-1.0.1:
      Successfully uninstalled pandas-1.0.1
ERROR: After October 2020 you may experience errors when installing or updating packages. This is because pip will change the way that it resolves dependency conflicts.

We recommend you use --use-feature=2020-resolver to test your packages with the new resolver before it becomes the default.

pytest-astropy 0.8.0 requires pytest-cov>=2.0, which is not installed.
pytest-astropy 0.8.0 requires pytest-filter-subpackage>=0.1, which is not installed.
astroid 2.3.3 requires typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8", which is not installed.
Successfully installed certifi-2019.3.9 fugle-realtime-0.2.9 numpy-1.16.4 pandas-0.24.2 python-dateutil-2.8.0 pytz-2019.1 six-1.12.0 urllib3-1.25.3
WARNING: You are using pip version 20.2.2; however, version 21.2.3 is available.
You should consider upgrading via the '/Users/zhongrenguang/opt/anaconda3/bin/python -m pip install --upgrade pip' command.

In [6]:
from fugle_realtime import intraday

In [15]:
# 明天測試是否股價會隨時間變動，要開戶才能使用其他symbolId
message = intraday.quote(apiToken='demo', symbolId='2884', output='raw')
message
# https://developer.fugle.tw/document/intraday/introduction

{'isCurbing': False,
 'isCurbingFall': False,
 'isCurbingRise': False,
 'isTrial': False,
 'isOpenDelayed': False,
 'isCloseDelayed': False,
 'isHalting': False,
 'isClosed': True,
 'total': {'at': '2021-08-10T13:30:00.000+08:00',
  'unit': 17571,
  'volume': 17571000},
 'trial': {'at': '2021-08-10T13:29:59.960+08:00',
  'price': 27,
  'unit': 2906,
  'volume': 2906000},
 'trade': {'at': '2021-08-10T13:30:00.000+08:00',
  'price': 27,
  'unit': 2906,
  'volume': 2906000,
  'serial': 6323606},
 'order': {'at': '2021-08-10T13:30:00.000+08:00',
  'bestBids': [{'price': 26.95, 'unit': 236, 'volume': 236000},
   {'price': 26.9, 'unit': 289, 'volume': 289000},
   {'price': 26.85, 'unit': 467, 'volume': 467000},
   {'price': 26.8, 'unit': 973, 'volume': 973000},
   {'price': 26.75, 'unit': 919, 'volume': 919000}],
  'bestAsks': [{'price': 27, 'unit': 1347, 'volume': 1347000},
   {'price': 27.05, 'unit': 902, 'volume': 902000},
   {'price': 27.1, 'unit': 1507, 'volume': 1507000},
   {'price': 27.15, 'unit': 246, 'volume': 246000},
   {'price': 27.2, 'unit': 497, 'volume': 497000}]},
 'priceHigh': {'price': 27, 'at': '2021-08-10T13:30:00.000+08:00'},
 'priceLow': {'price': 26.8, 'at': '2021-08-10T10:02:37.647+08:00'},
 'priceOpen': {'price': 26.9, 'at': '2021-08-10T09:00:18.678+08:00'},
 'change': 0.1,
 'changePercent': 0.0037,
 'amplitude': 0.0074,
 'priceLimit': 0}

In [20]:
intraday.chart(apiToken='demo', symbolId='2884')

                           at  close   high    low   open  unit   volume
0   2021-08-10 09:01:00+08:00  26.95  26.95  26.85  26.90   595   595000
1   2021-08-10 09:02:00+08:00  26.90  26.95  26.90  26.95   373   373000
2   2021-08-10 09:03:00+08:00  26.90  26.90  26.85  26.85   472   472000
3   2021-08-10 09:04:00+08:00  26.90  26.90  26.85  26.85    40    40000
4   2021-08-10 09:05:00+08:00  26.85  26.85  26.85  26.85    16    16000
5   2021-08-10 09:06:00+08:00  26.90  26.90  26.90  26.90     2     2000
6   2021-08-10 09:07:00+08:00  26.90  26.90  26.90  26.90   104   104000
7   2021-08-10 09:09:00+08:00  26.90  26.90  26.90  26.90     6     6000
8   2021-08-10 09:10:00+08:00  26.90  26.90  26.90  26.90     2     2000
9   2021-08-10 09:11:00+08:00  26.90  26.90  26.85  26.90    41    41000
10  2021-08-10 09:12:00+08:00  26.90  26.90  26.85  26.85    16    16000
11  2021-08-10 09:13:00+08:00  26.90  26.90  26.85  26.85    37    37000
12  2021-08-10 09:14:00+08:00  26.90  26.90  26.85  26.90    20    20000
13  2021-08-10 09:15:00+08:00  26.90  26.90  26.85  26.85    80    80000
14  2021-08-10 09:16:00+08:00  26.90  26.90  26.85  26.90    27    27000
15  2021-08-10 09:17:00+08:00  26.90  26.90  26.85  26.85    15    15000
16  2021-08-10 09:18:00+08:00  26.85  26.90  26.85  26.90    22    22000
17  2021-08-10 09:19:00+08:00  26.85  26.90  26.85  26.85   124   124000
18  2021-08-10 09:20:00+08:00  26.85  26.85  26.85  26.85    14    14000
19  2021-08-10 09:21:00+08:00  26.85  26.85  26.85  26.85    12    12000
20  2021-08-10 09:22:00+08:00  26.85  26.85  26.85  26.85     6     6000
21  2021-08-10 09:23:00+08:00  26.85  26.85  26.85  26.85     9     9000
22  2021-08-10 09:24:00+08:00  26.85  26.90  26.85  26.85    61    61000
23  2021-08-10 09:25:00+08:00  26.85  26.90  26.85  26.85     3     3000
24  2021-08-10 09:26:00+08:00  26.85  26.85  26.85  26.85     9     9000
25  2021-08-10 09:27:00+08:00  26.90  26.90  26.85  26.85    18    18000
26  2021-08-10 09:28:00+08:00  26.85  26.85  26.85  26.85    37    37000
27  2021-08-10 09:29:00+08:00  26.85  26.90  26.85  26.85    96    96000
28  2021-08-10 09:30:00+08:00  26.90  26.90  26.85  26.85    21    21000
29  2021-08-10 09:31:00+08:00  26.90  26.90  26.90  26.90    10    10000
..                        ...    ...    ...    ...    ...   ...      ...
234 2021-08-10 12:57:00+08:00  26.90  26.90  26.85  26.90    35    35000
235 2021-08-10 12:58:00+08:00  26.90  26.90  26.85  26.90    41    41000
236 2021-08-10 12:59:00+08:00  26.90  26.90  26.85  26.85   111   111000
237 2021-08-10 13:00:00+08:00  26.90  26.90  26.85  26.85    72    72000
238 2021-08-10 13:01:00+08:00  26.90  26.90  26.85  26.90    66    66000
239 2021-08-10 13:02:00+08:00  26.90  26.90  26.85  26.85    95    95000
240 2021-08-10 13:03:00+08:00  26.90  26.90  26.85  26.90    58    58000
241 2021-08-10 13:04:00+08:00  26.85  26.90  26.85  26.90    93    93000
242 2021-08-10 13:05:00+08:00  26.90  26.90  26.85  26.90   127   127000
243 2021-08-10 13:06:00+08:00  26.90  26.90  26.85  26.85   136   136000
244 2021-08-10 13:07:00+08:00  26.90  26.95  26.90  26.90  1058  1058000
245 2021-08-10 13:08:00+08:00  26.95  26.95  26.90  26.95   101   101000
246 2021-08-10 13:09:00+08:00  26.95  26.95  26.90  26.95    24    24000
247 2021-08-10 13:10:00+08:00  26.90  26.95  26.90  26.95    67    67000
248 2021-08-10 13:11:00+08:00  26.95  26.95  26.90  26.90    39    39000
249 2021-08-10 13:12:00+08:00  26.90  26.95  26.90  26.95    90    90000
250 2021-08-10 13:13:00+08:00  26.90  26.95  26.90  26.90    44    44000
251 2021-08-10 13:14:00+08:00  26.95  26.95  26.90  26.95   408   408000
252 2021-08-10 13:15:00+08:00  26.90  26.95  26.90  26.90    74    74000
253 2021-08-10 13:16:00+08:00  26.95  26.95  26.90  26.95    97    97000
254 2021-08-10 13:17:00+08:00  26.95  26.95  26.90  26.95   123   123000
255 2021-08-10 13:18:00+08:00  26.95  26.95  26.90  26.95    82    82000
256 2021-08-10 13:19:00+08:00  26.95  26.95  26.90  26.95    80    80000
257 2021-08-10 13:20:00+08:00  26.95  26.95  26.90  26.95    92    92000
258 2021-08-10 13:21:00+08:00  26.90  26.95  26.90  26.90    86    86000
259 2021-08-10 13:22:00+08:00  26.90  26.95  26.90  26.95    98    98000
260 2021-08-10 13:23:00+08:00  26.95  26.95  26.90  26.95   126   126000
261 2021-08-10 13:24:00+08:00  26.95  26.95  26.90  26.95   192   192000
262 2021-08-10 13:25:00+08:00  26.90  26.95  26.90  26.95   275   275000
263 2021-08-10 13:30:00+08:00  27.00  27.00  27.00  27.00  2906  2906000

[264 rows x 7 columns]