In [2]:
import twstock
import pandas as pd

In [5]:
stock_2330 = twstock.realtime.get('2330')
result = pd.DataFrame(stock_2330).T.iloc[1:3]
result

,accumulate_trade_volume,best_ask_price,best_ask_volume,best_bid_price,best_bid_volume,channel,code,fullname,high,latest_trade_price,low,name,open,time,trade_volume
info,NaN,NaN,NaN,NaN,NaN,2330.tw,2330,台灣積體電路製造股份有限公司,NaN,NaN,NaN,台積電,NaN,2021-09-24 14:25:00,NaN
realtime,16646,"[598.0000, 599.0000, 600.0000, 601.0000, 602.0...","[2, 1123, 1504, 589, 487]","[597.0000, 596.0000, 595.0000, 594.0000, 593.0...","[41, 68, 91, 343, 916]",NaN,NaN,NaN,598.0000,598.0000,590.0000,NaN,591.0000,NaN,3522

In [9]:
result.columns= ['成交量', '買進五檔', '買進五檔單量', '賣出五檔', '賣出五檔單量', 'channel', 'code', 'fullname', 'high', 'close', 'low', 'name', 'open', 'time', 'trade_volume']
result

,成交量,買進五檔,買進五檔單量,賣出五檔,賣出五檔單量,channel,code,fullname,high,close,low,name,open,time,trade_volume
info,NaN,NaN,NaN,NaN,NaN,2330.tw,2330,台灣積體電路製造股份有限公司,NaN,NaN,NaN,台積電,NaN,2021-09-24 14:25:00,NaN
realtime,16646,"[598.0000, 599.0000, 600.0000, 601.0000, 602.0...","[2, 1123, 1504, 589, 487]","[597.0000, 596.0000, 595.0000, 594.0000, 593.0...","[41, 68, 91, 343, 916]",NaN,NaN,NaN,598.0000,598.0000,590.0000,NaN,591.0000,NaN,3522